<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" (click)="goToControlPanel()">Agube</a>
    <!-- Example split danger button -->
    <div style="margin-right: 50px">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="logout()">
            Cerrar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
