<div class="card bg-light m-3">
  <div class="card-header"><strong>Lecturas Recientes</strong></div>
  <div class="card-body">
    <table class="m-2 table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Lectura</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody *ngFor="let element of dataSource">
        <tr>
          <th scope="row">
            {{ element.reading }}
          </th>
          <td>{{ element.date | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>