<div >
  <div class="text-center m-1 ">
    <table class="table table-bordered w-50 bg-warning" style="margin: 0 auto;">
      <thead>
        <tr>
          <th scope="col">Lectura</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody *ngFor="let element of dataSource">
        <tr>
          <th scope="row">
            {{ element.reading }}
          </th>
          <td>{{ element.date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
