@import "../../../../../scss/theme/colors-theme-light-blue-cake.scss";

.table-card {
  margin: 10px;
  padding-top: 1em;
  padding-right: 10px;
  border-radius: 10px;
  background-color: $color-primary-light;
}
