@import '../../../assets/availa/sizes/margins.scss';

.form-content {
    img {
        margin-left: $margin-small;
    }
}

mat-card-actions {
    button {
        div {
            height: 100%;
            display: flex;
            align-items: center;
            mat-icon {
                margin-right: $margin-x-small;
            }
        }
    }
}
input,
label {
    display: block;
}

input[type='file']::-webkit-file-upload-button {
    background-color: #7fd3f7;
    color: black;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 10px;
}
