<mat-card *ngIf="DWelling != undefined">
  <mat-card-header>
    <mat-card-title>Vivienda seleccionada</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div
          fxLayout="column"
          fxLayoutAlign="space-around stretch"
          class="col-sm"
        >
          Dirección
          <p>
            {{ DWelling.flat }} {{ DWelling.gate }} - {{ DWelling.street }} -{{
              DWelling.number
            }}
            - {{ DWelling.town }}
          </p>
          <app-water-meter-detail-card
            [DWelling]="DWelling"
            (sendWaterMeter)="sendWater($event)"
          ></app-water-meter-detail-card>
        </div>
        <div class="col-sm">
          <app-president-details-card></app-president-details-card>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <app-dwelling-water-meter-readings></app-dwelling-water-meter-readings>
        </div>
        <div class="col-sm">
          <app-dwelling-management
            [DWelling]="DWelling"
            [waterMeter]="sendWaterMeterCode"
          ></app-dwelling-management>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
