<div class="card w-100 m-2" *ngIf="DWelling != undefined">
  <div class="col-12 row">
    <div class="card bg-light m-3" style="max-width: 18rem; width: 16rem">
      <div class="card-header"><strong>Dirección</strong></div>
      <div class="card-body">
        <p class="card-text">
          {{ DWelling.flat }} {{ DWelling.gate }} - {{ DWelling.street }} -{{
            DWelling.number
          }}
          - {{ DWelling.town }}
        </p>
      </div>
    </div>
    <app-water-meter-detail-card
      [DWelling]="DWelling"
      (sendWaterMeter)="sendWater($event)"
    ></app-water-meter-detail-card>
  </div>
  <br />
  <div class="col-12 row">
    <div class="">
      <app-dwelling-water-meter-readings></app-dwelling-water-meter-readings>
    </div>
    <div class="">
      <app-dwelling-management
        [DWelling]="DWelling"
        [waterMeter]="sendWaterMeterCode"
      ></app-dwelling-management>
    </div>
  </div>
</div>
