<div class="detail-info" *ngIf="geolocation">
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.COORDINATES' | translate }}
    <h3>{{geolocation | geolocation: 'geolocation' }}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.COUNTRY' | translate }}
    <h3>{{geolocation.address.country}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.STATE' | translate }}
    <h3>{{geolocation.address.state}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.PROVINCE' | translate }}
    <h3>{{geolocation.address.province}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.CITY' | translate }}
    <h3>{{geolocation.address.city}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.VILLAGE' | translate }}
    <h3>{{geolocation.address.village}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.MUNICIPALITY' | translate }}
    <h3>{{geolocation.address.municipality}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.CITY_DISTRICT' | translate }}
    <h3>{{geolocation.address.city_district}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.POSTAL_CODE' | translate }}
    <h3>{{geolocation.address.postcode}}</h3>
  </span>
  <span>
    {{ 'PAGE.DWELLING.DETAIL.ADDRESS.STREET' | translate }}
    <h3>{{ geolocation | geolocation : 'short' }}</h3>
  </span>
</div>
