<div class="row col w-100 h-75">
  <div class="col-6">
    <div class="h-100">
      <form class="needs-validation was-validated" novalidate="">
        <!-- Fecha duracion hora nombre direccion ruta nota planificar -->
        <div class="row g-3">


          <div class="col-sm-6">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="exampleFormControlSelect2"
              >Example multiple select</label
            >
            <select
              multiple
              class="form-control"
              id="exampleFormControlSelect2"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>
  </div>
  <div class="col-6 p-2">
    <!-- <app-calendar></app-calendar> -->
  </div>
</div>
