$resolution-x-small: 700px;
$resolution-m-small: 749px;
$resolution-s-small: 870px;
$resolution-l-small: 1050px;
$resolution-small: 1200px;
$resolution-xl-small: 1240px;
$resolution-xs-medium: 1440px;
$resolution-x-medium: 1500px;
$resolution-m-medium: 1540px;
$resolution-l-medium: 1710px;
$resolution-medium: 1800px;
$resolution-medium-x: 1879px;
$resolution-s-large: 1950px;
$resolution-large: 2000px;
$resolution-x-large: 2312px;
$resolution-extra-large: 2500px;
