<main class="container-login">
  <form [formGroup]="loginForm" style="padding: 10px">
    <div class="text-center">
      <img
        class="mb-4"
        src="https://avatars.slack-edge.com/2020-10-13/1409854645591_0387c36ecf7c102cc07b_230.png"
        alt=""
        width="150"
        height="150"
        style="border: 2px solid; border-radius: 15px"
      />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="text"
        id="form2Example1"
        formControlName="username"
        class="form-control"
      />
      <label class="form-label" for="form2Example1">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form2Example2"
        formControlName="password"
        class="form-control"
        (keyup.enter)="onSubmit()"
      />
      <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="form2Example3"
          />
          <label class="form-check-label" for="form2Example3">
            Remember me
          </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a style="color: #e8f522" href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-dark btn-block mb-4"
      (click)="onSubmit()"
    >
      Sign in
    </button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>
        Not a member?
        <a style="color: #e8f522" href="{{ subscription }}">Register</a>
      </p>
    </div>
  </form>
</main>
