<mat-list>
    <div class="edit-address-header">
        <h3>{{'CONTACT_INFO.ADDRESS.TITLE'|translate}}</h3>
        <button mat-mini-fab color="accent" matTooltip="{{'CONTACT_INFO.ADDRESS.BUTTON.BUTTON_TOOLTIP'|translate}}" matTooltipPosition="right"
            (click)="openCloseAddressForm()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <span *ngIf="canAddAddress">
        <div class="editable-form">
            <div class="address-form">
                <mat-form-field appearance="fill">
                    <mat-label>{{'CONTACT_INFO.ADDRESS.FORM.GATE'|translate}}</mat-label>
                    <input matInput placeholder="A" [formControl]="gate" (keydown.enter)="saveAddress()" />
                    <mat-error *ngIf="gate.invalid">{{errorValidator('gate') |translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'CONTACT_INFO.ADDRESS.FORM.FLAT'|translate}}</mat-label>
                    <input matInput placeholder="3" [formControl]="flat" (keydown.enter)="saveAddress()" />
                    <mat-error *ngIf="flat.invalid">{{errorValidator('flat')|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'CONTACT_INFO.ADDRESS.FORM.NUMBER'|translate}}</mat-label>
                    <input matInput placeholder="IV" [formControl]="number" (keydown.enter)="saveAddress()" />
                    <mat-error *ngIf="number.invalid">{{errorValidator('number')|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'CONTACT_INFO.ADDRESS.FORM.STREET'|translate}}</mat-label>
                    <input matInput placeholder="Anthony Edward Stark Street" [formControl]="street"
                        (keydown.enter)="saveAddress()" />
                    <mat-error *ngIf="street.invalid">{{errorValidator('street')|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'CONTACT_INFO.ADDRESS.FORM.TOWN'|translate}}</mat-label>
                    <input matInput placeholder="Sofía" [formControl]="town" (keydown.enter)="saveAddress()" />
                    <mat-error *ngIf="town.invalid">{{errorValidator('town')|translate}}</mat-error>
                </mat-form-field>
                <mat-divider></mat-divider>
            </div>
            <div class="address-buttons">
                <button mat-icon-button matTooltip="{{'CONTACT_INFO.ADDRESS.FORM.BUTTON_CLOSE_TOOLTIP'|translate}}" matTooltipPosition="above" (click)="openCloseAddressForm()">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{'CONTACT_INFO.ADDRESS.FORM.BUTTON_SAVE_TOOLTIP'|translate}}" matTooltipPosition="above" (click)="saveAddress()"
                    [disabled]="fullAddressForm.invalid">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </span>
    <div *ngFor="let address of addressList" class="list-address">
        <app-edit-address (updatedEvent)="refreshAddress($event)" (deleteEvent)="addressDeleted($event)" class="address"
            [address]="address" [userId]="userId"></app-edit-address>
        <mat-divider></mat-divider>
    </div>
</mat-list>