<mat-card class="table-card">
    <mat-card-header>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Calle, Ciudad, Capacidad...</mat-label>
                <input matInput matTooltip="Buscar" matTooltipPosition="right" (keyup)="applyFilter()"
                    [formControl]="filter">
                <button matSuffix mat-icon-button matTooltip="Borrar búsqueda" *ngIf="filter.value.length > 0"
                    (click)="clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div [align]="'end'">
            <button mat-raised-button color="primary" matTooltip="Ir a la página de creación de depósitos"
                (click)="goToNewReservoir()">
                <mat-icon color="accent">water_drop</mat-icon>
                Nuevo Depósito
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource">
            <!-- capacity -->
            <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef>capacity</th>
                <td mat-cell *matCellDef="let element">{{element.capacity}} L</td>
            </ng-container>

            <!-- inlet_flow-->
            <ng-container matColumnDef="inlet_flow">
                <th mat-header-cell *matHeaderCellDef>inlet_flow</th>
                <td mat-cell *matCellDef="let element">{{element.inlet_flow}} m<sup>3</sup></td>
            </ng-container>
            <!-- outlet_flow -->
            <ng-container matColumnDef="outlet_flow">
                <th mat-header-cell *matHeaderCellDef>outlet_flow</th>
                <td mat-cell *matCellDef="let element">{{element.outlet_flow}} m<sup>3</sup></td>
            </ng-container>

            <!-- full_address -->
            <ng-container matColumnDef="full_address">
                <th mat-header-cell *matHeaderCellDef>full_address</th>
                <td mat-cell *matCellDef="let element">{{element | reservoirDetail }}</td>
            </ng-container>

            <tr mat-row class="table-row" matTooltip="Seleccionar" (click)="selectElement(row)"
                *matRowDef="let row; columns: displayedColumns;" [ngClass]="row === isSelected ? 'selected-row' : ''">
            </tr>

        </table>

    </mat-card-content>

</mat-card>