<table  class="m-2 table table-bordered table-condensed" >
  <thead>
    <tr>
      <th scope="col">Dirección</th>
      <th scope="col">Contador</th>
      <th scope="col">Residente</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody *ngFor="let element of dataSource"  (click)="selectRow(element)" >
    <tr class="clickable-row table" [ngClass]="{'selected-row': element.id === selectedRowIndex  }">
      <th scope="row"  >
        {{ element.flat }} {{ element.gate }} {{ element.number }}
        {{ element.street }} {{ element.town }}
      </th>
      <td>{{ element.water_meter_code }}</td>
      <td>{{ element.resident_first_name }}</td>
      <td>{{ element.resident_phone }}</td>
    </tr>
  </tbody>
</table>
