table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10 px;
  grid-auto-rows: minmax(10 px, auto);
}

.button-container {
  grid-column: 5/66;
  grid-row: 1;
}

.table-container {
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 4px;
}
