@import '../../../../assets/availa/sizes/page.scss';
@import '../../../../assets/availa/sizes/margins.scss';
@import '../../../../assets/availa/sizes/resolutions.scss';

.manager-reservoir-page {
  div {
    display: grid;
    gap: 1rem;
    grid-gap: $margin-x-medium;
    grid-auto-rows: 1;
    grid-template-columns: repeat(auto-fit, minmax(650px, 2fr));
    width: auto;
  }

  margin-bottom: 50px;
}

::ng-deep #manager_full_reservoir_map {
  width: 100% !important;
}

.container-frame-tour {
  width: 270px;
  height: 160px;
}

@media only screen and (max-width: $resolution-l-medium) {
  .manager-reservoir-page {
    div {
      grid-row: 2 / -1;
      display: inline-grid;
      width: 100%;
    }
  }
}
