<div class="card w-100 m-2" *ngIf="DepositPanel != undefined">
  <div class="col-12 row">
    <div class="card bg-light m-3" style="max-width: 18rem; width: 16rem">
      <div class="card-header"><strong>Dirección</strong></div>
      <div class="card-body">
        <p class="card-text">
          {{ DepositPanel.flat }} {{ DepositPanel.gate }} -
          {{ DepositPanel.street }} -{{ DepositPanel.number }} -
          {{ DepositPanel.town }}
        </p>
      </div>
    </div>

  </div>
  <br />
  <div class="col-12 row">
    <div class=""></div>
    <div class="">
      <app-deposit-management
        [reservoir]="DepositPanel"
        [waterMeter]="sendWaterMeterCode"
      ></app-deposit-management>
    </div>
  </div>
</div>
