// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import 'assets/availa/theme/light';
@import '@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @import 'assets/availa/typography/typography.scss';
// @include mat.core($ubuntu-typography);
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($agube-fe-theme);

.dark {
  @import 'assets/availa/theme/dark';
  @include angular-material-theme($my-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Ubuntu';
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.cdk-overlay-pane {
  overflow: auto;
}
.contact-book-button {
  position: sticky;
  bottom: 1% !important;
  left: 95%;
}
.mat-tooltip {
  font-size: 12px;
}
.backdrop-container {
  .backdrop-content {
    .joyride-backdrop {
      display: none;
    }
  }
}
