<div class="welcome" fxLayout="column" fxLayoutAlign="space-around center">
  <p class="w-title">Pricing</p>
  <p class="w-content">
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It’s built with default Bootstrap components and
    utilities with little customization.
  </p>
  <button class="log-in-button btn btn-primary" (click)="goToLogin()">
    I already have a subscription!
  </button>
</div>
<hr />
<div
  class="col-12 row row-cols-1 row-cols-md-4 mb-3 text-center"
  fxLayout="row"
  fxLayoutAlign="space-around stretch"
>
  <div *ngFor="let item of subscriptions; let i = index">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{ item.name }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            ${{ item.price }}<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button
            type="button"
            class="w-100 btn btn-lg btn-primary"
            (click)="sendUrl(item.id)"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="col-10 row row-cols-1 row-cols-md-12 mb-3 text-center table-responsive"
  fxLayout="row"
  fxLayoutAlign="space-around stretch"
  style="margin: 0 auto;"
>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="row" style="width: 4%"></th>
        <th scope="row" *ngFor="let subs of subscriptions" style="width: 14%">
          {{ subs.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perm of permissionColumns">
        <th scope="row" class="text-start">
          {{ perm.name }}
        </th>
        <th
          *ngFor="let subsc of perm.subscriptions"
          scope="row"
          class="text-start"
          [hidden]="subsc.id!==1"
        >
          <svg hidden="{{subsc.id!==1}}"  xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          {{subsc.id}}
        </th>

        <th
          *ngFor="let subsc of perm.subscriptions"
          scope="row"
          class="text-start"
          [hidden]="subsc.id!==2"
        >
          <svg hidden="{{subsc.id!==1}}"  xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          {{subsc.id}}
        </th>
        <th
          *ngFor="let subsc of perm.subscriptions"
          scope="row"
          class="text-start"
          [hidden]="subsc.id!==3"
        >
          <svg hidden="{{subsc.id!==1}}"  xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          {{subsc.id}}
        </th>
        <th
          *ngFor="let subsc of perm.subscriptions"
          scope="row"
          class="text-start"
          [hidden]="subsc.id!==4"
        >
          <svg hidden="{{subsc.id!==1}}"  xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          {{subsc.id}}
        </th>

      </tr>
    </tbody>
  </table>
</div>
