/**
FIXME: Import colors from Styles.scss
**/

.welcome {
  margin-top: 2%;
}

.welcome .w-title {
  font-size: xx-large;
  margin-bottom: 2%;
}

.welcome .w-content {
  max-width: 80%;
}

.subscription-card {
  /**
  FIXME: fix width & height and do not use px for responsive compatibilty
  **/
  max-width: 650px;
  height: 300px;
  margin: 5%;
}

.subscription-card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #35b4ff;
  font-style: italic;
}

.card-subtitle {
  padding: 5%;
  font-size: 200%;
  font-weight: bold;
  color: #35b4ff;
}

.buy-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
