@import "../../../styles.scss";

.welcome {
  margin-top: 2%;
}

.welcome .w-title {
  font-size: xx-large;
  margin-bottom: 2%;
}

.welcome .w-content {
  max-width: 80%;
}

.subscription-card {
  /**
  FIXME: fix width & height and do not use px for responsive compatibilty
  **/
  max-width: 650px;
  height: 300px;
  margin: 5%;
}

.subscription-card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  color: $primary;
  font-style: italic;
}

.card-subtitle {
  padding: 5%;
  font-size: 200%;
  font-weight: bold;
  color: $primary;
}

.actions {
  margin-top: 20%;
}

.buy-button {
  width: 50% !important;
  font-size: larger;
}

.log-in-button {
  margin-top: 1%;
  margin-bottom: 1%;
}
