@import '../../../../../assets/availa/sizes/page.scss';
@import '../../../../../assets/availa/sizes/margins.scss';

.manager-residents-page {
  display: grid;
    min-height: 88%;
    height: 88%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.manager-residents-page-table {
    @include my-page-column();

    margin-bottom: $margin-x-small;
}
.manager-residents-page-card {
    @include my-page-column($columnIndex: 1, $totalColumns: 2);
}
