#docs
doc
docs
README.md
asyncapi.yml

#python
env
venv
__pycache__
.pytest_cache

#django
settings-local.py
media

#sqlite3
db.sqlite3
db.sqlite3-journal

#git
.git
.gitignore
.gitlab-ci

#docker
Dockerfile
docker*

#supervisord
/supervisord.*

#others
.idea
.vscode
.log
htmlcov
.coverage