#docs
doc
docs
README.md
asyncapi.yml

#python
env
venv
__pycache__
.pytest_cache

#django
settings-local.py

#sqlite3
db.sqlite3
db.sqlite3-journal

#git
.git
.gitignore
.gitlab-ci

#docker
Dockerfile
docker*

#others
.idea
.vscode
.log
htmlcov
.coverage