<h1 mat-dialog-title>{{ 'COMPONENTS.COMMENT.TITLE' | translate }}</h1>
<div>
    <mat-form-field class="form" appearance="fill">
        <mat-label>{{ 'COMPONENTS.COMMENT.CREATE.TITLE' | translate }}</mat-label>
        <textarea matInput cdkTextareaAutosize [formControl]="message" autofocus (keydown.enter)="save()"></textarea>
        <mat-error *ngIf="message.invalid">{{ errorValidator('message') | translate }}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button matTooltip="{{ 'GENERAL.BUTTON.SAVE_AND_EXIT' | translate }}" color="primary"
        (click)="save()" [disabled]="message.invalid">
        {{ 'GENERAL.BUTTON.SAVE' | translate }}
    </button>
</div>