<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Tu Subscripción</span>
        </h4>
        <ul class="list-group mb-3" *ngFor="let subs of subscriptions; let id = index"
          (click)="selectedSubscription(subs)">
          <li style="cursor: pointer;" class="list-group-item list-group-item-action list-group-item-primary" [ngClass]="{
              ' list-group-item-success':
                id + 1 == formIdentification
                  ? true
                  : false
                  ? 'list-group-item-primary'
                  : false
            }">
            <a id="{{ subs.id }}">
              <h6 class="my-0">{{ subs.name }}</h6>
              <small class="text-muted">{{ subs.description }}</small>
            </a>
            <span class="text-muted">$ {{ subs.price }}</span>
          </li>

        </ul>
        <button class="w-100 btn btn-primary btn-lg" type="button" (click)="backToLogin()">
          Ya tengo una cuenta
        </button>
      </div>
      <div class="col-md-7 col-lg-8">
        <div [hidden]="!error" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>

        <h4 class="mb-3 text-center">Registrarse</h4>
        <form class="needs-validation was-validated" novalidate="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="" value=""
                required="" />
              <div class="invalid-feedback">Se requiere un nombre.</div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="" value=""
                required="" />
              <div class="invalid-feedback">Se requiere un apellido.</div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username"
                  required="" />
                <div class="invalid-feedback">Se requiere un username.</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email"
                required="" />
              <div class="invalid-feedback">Se requiere un email válido</div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="address" placeholder="Calle Coghlan 1670..." required=""
                formControlName="business_name" />
              <div class="invalid-feedback">
                Se require una dirección existente.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Cp</label>
              <input type="text" class="form-control" id="zip" placeholder="" required="" />
              <div class="invalid-feedback">Código postal required.</div>
            </div>
            <div class="col-md-3">
              <label for="nif" class="form-label">NIF</label>
              <input type="text" class="form-control" id="nif" placeholder="" required="" formControlName="nif" />
              <div class="invalid-feedback">NIF requerido.</div>
            </div>
            <div class="col-md-3">
              <label for="phone_number" class="form-label">Télefono</label>
              <input type="text" class="form-control" id="phone_number" placeholder="" required=""
                formControlName="phone_number" />
              <div class="invalid-feedback">Número de teléfono requerido.</div>
            </div>
          </div>

          <hr class="my-4" />

          <h4 class="mb-3">Pagos</h4>

          <div class="my-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="payment_type" value="1" checked>
              <label class="form-check-label" for="debit">
                Visa
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="payment_type" value="2">
              <label class="form-check-label" for="paypal">
                Paypal
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="payment_type" value="3">
              <label class="form-check-label" for="credit">
                Mastercard
              </label>
            </div>
          </div>
          <hr class="my-4" />
          <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="registerForm.invalid">
            Continuar
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

<div [hidden]="!success" class="alert alert-success" role="success">
  Formulario enviado con éxito
</div>