<div class="contact-info">
    <div *ngIf="resident; else noResident">
        <h2>{{ resident.user | userDetail }}</h2>
        <p>{{ 'PAGE.DWELLING.MANAGER.PERSON.CHANGE.FORM.PHONE_NUMBER' | translate }} <b>{{ getMainPhone() }}</b></p>
        <p>
            {{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.RESIDENT_CONTENT.RELEASE_DATE' | translate }}
            <b>{{ resident.release_date | date:'longDate' }}</b>
        </p>
    </div>
    <ng-template #noResident>
        <h2>{{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.RESIDENT_CONTENT.NO_RESIDENT' | translate }}</h2>
    </ng-template>
</div>