@import '../../../../../assets/availa/sizes/margins.scss';

.button-save-info {
  margin-right: $margin-small;
  display: table;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

button {
  width: auto;
  max-width: 120px;
}

.form-right-align {
  text-align: right;
}
