<div class="card bg-light m-3" >
  <div class="card-header"><strong>Administración</strong></div>
  <div class="card-body" style="display: grid;">
    <button class="btn btn-outline-primary" (click)="changePay()">
      Cambio Pagador
    </button>
    <button class="btn btn-outline-primary" (click)="changeCount()">
      Cambio Contador
    </button>
    <button class="btn btn-outline-primary" (click)="changeResident()">
      Cambio Residente
    </button>
    <button class="btn btn-outline-primary" (click)="changeOwner()">
      Cambio Propietario
    </button>
  </div>
</div>
