@use '@angular/material' as mat;

$ubuntu-typography: mat.define-typography-config(
  $font-family: '"Ubuntu", sans-serif;',
  $display-4: mat.define-typography-level(7rem, 7rem, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(3.5rem, 3.5rem, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(2.813rem, 3rem, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(2.125rem, 2.5rem, 400),
  $headline: mat.define-typography-level(1.5rem, 2rem, 400),
  $title: mat.define-typography-level(1.25rem, 2rem, 500),
  $subheading-2: mat.define-typography-level(1rem, 1.75rem, 400),
  $subheading-1: mat.define-typography-level(0.938rem, 1.5rem, 400),
  $body-2: mat.define-typography-level(0.875rem, 1.5rem, 500),
  $body-1: mat.define-typography-level(0.875rem, 1.25rem, 400),
  $caption: mat.define-typography-level(0.75rem, 1.25rem, 400),
  $button: mat.define-typography-level(0.875rem, 0.875rem, 500),
  $input: mat.define-typography-level(inherit, 1.125, 400),
);
