<div class="create-reservoir-page">
    <mat-card class="create-reservoir-page-card">
        <mat-card-content>
            <div class="form">
                <h1>Da de Alta una nuevo Depósito</h1>
                <div class="form-content">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Código de contador</mat-label>
                            <input matInput placeholder="0-123456789" [formControl]="code" (keydown.enter)="save()" />
                            <mat-error *ngIf="code.invalid">{{errorValidator('code')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Ciudad</mat-label>
                            <input matInput placeholder="Sofía" [formControl]="town" (keydown.enter)="save()" />
                            <mat-error *ngIf="town.invalid">{{errorValidator('town')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Calle</mat-label>
                            <input matInput placeholder="Anthony Edward Stark Street" [formControl]="street"
                                (keydown.enter)="save()" />
                            <mat-error *ngIf="street.invalid">{{errorValidator('street')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Nº</mat-label>
                            <input matInput placeholder="IV" [formControl]="number" (keydown.enter)="save()" />
                            <mat-error *ngIf="number.invalid">{{errorValidator('number')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Piso</mat-label>
                            <input matInput placeholder="Tercero" [formControl]="flat" (keydown.enter)="save()" />
                            <mat-error *ngIf="flat.invalid">{{errorValidator('flat')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Piso</mat-label>
                            <input matInput placeholder="A" [formControl]="gate" (keydown.enter)="save()" />
                            <mat-error *ngIf="gate.invalid">{{errorValidator('gate')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Capacidad</mat-label>
                            <input matInput placeholder="1000" type="number" [formControl]="capacity"
                                (keydown.enter)="save()" />
                            <span matPrefix>
                                <mat-icon>opacity</mat-icon>
                            </span>
                            <span matSuffix>L</span>
                            <mat-error *ngIf="capacity.invalid">{{errorValidator('capacity')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Entrada</mat-label>
                            <input matInput placeholder="1000" type="number" [formControl]="inletFlow"
                                (keydown.enter)="save()" />
                            <span matPrefix>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </span>
                            <span matSuffix>m<sup>3</sup></span>
                            <mat-error *ngIf="inletFlow.invalid">{{errorValidator('inletFlow')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Salida</mat-label>
                            <input matInput placeholder="1000" type="number" [formControl]="outletFlow"
                                (keydown.enter)="save()" />
                            <span matPrefix>
                                <mat-icon>arrow_back_ios</mat-icon>
                            </span>
                            <span matSuffix>m<sup>3</sup></span>
                            <mat-error *ngIf="outletFlow.invalid">{{errorValidator('outletFlow')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="loadingPost"></mat-progress-bar>
                <mat-card-actions [align]="'end'">
                    <button mat-button matTooltip="No se guardarán los datos" (click)="exit()">
                        Salir sin guardar
                    </button>
                    <button mat-raised-button color="primary" matTooltip="Crear nuevo Depósito" (click)="save()"
                        [disabled]="this.reservoirForm.invalid">
                        <div>
                            <mat-icon>save</mat-icon>
                            Guardar
                        </div>
                    </button>
                    <button mat-raised-button color="primary"
                        matTooltip="Crear nuevo Depósito y volver a la pantalla principal" (click)="saveAndExit()"
                        [disabled]="this.reservoirForm.invalid">
                        <div>
                            <mat-icon>exit_to_app</mat-icon>
                            Guardar y Salir
                        </div>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>