@import '../../../../assets/availa/sizes/margins.scss';

.form-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-actions {
  button {
    div {
      height: 100%;
      display: flex;
      align-items: center;
      mat-icon {
        margin-right: $margin-x-small;
      }
    }
  }
}
