<div class="detail-page">
    <div class="page-content">
        <mat-card *ngIf="!loading">
            <mat-card-content *ngIf="dwelling">
                <div class="dwelling-info">
                    <h1>
                        {{ dwelling.geolocation | geolocation }}
                        <mat-icon
                            *ngIf="canLoad"
                            svgIcon="edit"
                            matTooltip="{{ 'PAGE.DWELLING.DETAIL.BUTTON.TITLE.EDIT.TOOLTIP' | translate }}"
                            (click)="goToEditGeolocation()"
                        >
                        </mat-icon>
                        <sup>
                            <mat-icon class="icon-tour" (click)="tour()" svgIcon="tour" matTooltip="{{'PAGE.TOUR.ICON'|translate}}"></mat-icon>
                        </sup>
                    </h1>
                    <div
                        class="dwelling-content-info"
                        [joyrideStep]="'DwellingInfoStep'"
                        [stepContent]="DwellingInfo"
                        title="{{ 'PAGE.DWELLING.CLIENT.DEMO-TOUR.TITLE' | translate }}"
                    >
                        <app-address [geolocation]="dwelling.geolocation"></app-address>
                        <div class="dwelling-resident">
                            <!-- <app-owner [dwellingId]="dwelling.id" [canLoad]="canLoad"></app-owner> -->
                            <app-resident [dwellingId]="dwelling.id" [canLoad]="canLoad"></app-resident>
                        </div>
                    </div>

                    <div class="content-buttons-map">
                        <div class="content-buttons-generics-map">
                            <app-management
                                [manage]="dwelling"
                                [waterMeterId]="waterMeterId"
                                [type]="type"
                                [load]="canLoad"
                                [joyrideStep]="'DwellingWaterMaterStep'"
                                [stepContent]="DwellingWaterMater"
                                title="{{ 'PAGE.DWELLING.CLIENT.DEMO-TOUR.TITLE' | translate }}"
                            >
                            </app-management>
                            <div class="buttons-map">
                                <button
                                    mat-raised-button
                                    [color]="'primary'"
                                    matTooltip="Ver mapa"
                                    (click)="seeMap()"
                                    matTooltip="{{ 'PAGE.DWELLING.DETAIL.BUTTON.MAP.DIALOG.TOOLTIP' | translate }}"
                                >
                                    <mat-icon svgIcon="map"></mat-icon>
                                    {{ 'PAGE.DWELLING.DETAIL.BUTTON.MAP.DIALOG.TEXT' | translate }}
                                </button>
                            </div>
                            <div *ngIf="canLoad" class="button-comments">
                                <button
                                    mat-raised-button
                                    [color]="'primary'"
                                    matTooltip="Ver mapa"
                                    (click)="seeComments()"
                                    matTooltip="{{ 'PAGE.DWELLING.DETAIL.BUTTON.MAP.DIALOG.TOOLTIP' | translate }}"
                                >
                                    <mat-icon svgIcon="visibility"></mat-icon>
                                    {{ 'COMPONENTS.COMMENT.TITLE' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="position-gauge">
                            <app-gauge-measurement
                                *ngIf="waterMeterId"
                                [waterMeterId]="waterMeterId!"
                                [dwellingId]="dwellingId"
                                [type]="type"
                                [canAddReading]="canLoad"
                                [joyrideStep]="'DwellingWaterMaterMeasurementStep'"
                                [stepContent]="DwellingWaterMaterMeasurement"
                                title="{{ 'PAGE.DWELLING.CLIENT.DEMO-TOUR.TITLE' | translate }}"
                            >
                            </app-gauge-measurement>
                        </div>
                    </div>
                </div>
                <div class="column-right">
                    <div class="dwelling-map">
                        <mat-button-toggle-group #group="matButtonToggleGroup">
                            <mat-button-toggle
                                (click)="mode = 'map'"
                                matTooltip="{{ 'PAGE.DWELLING.DETAIL.BUTTON.MAP.TOOLTIP' | translate }}"
                                matTooltipPosition="left"
                            >
                                <mat-icon svgIcon="map"></mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle
                                *ngIf="canLoadStreetView"
                                (click)="mode = 'streetView'"
                                matTooltip="{{ 'PAGE.DWELLING.DETAIL.BUTTON.STREET_VIEW.TOOLTIP' | translate }}"
                                matTooltipPosition="right"
                            >
                                <mat-icon>360</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                        <div
                            *ngIf="showMap && configureMap"
                            [joyrideStep]="'DwellingMapDetailStep'"
                            [stepContent]="DwellingMapDetail"
                            title="{{ 'PAGE.DWELLING.CLIENT.DEMO-TOUR.TITLE' | translate }}"
                        >
                            <div *ngIf="mode == 'map'; else showStreetView">
                                <app-map [baseConfiguration]="configureMap"></app-map>
                            </div>
                            <ng-template #showStreetView>
                                <app-street-view [configureView]="configureView"></app-street-view>
                            </ng-template>
                        </div>
                        <app-comment-list *ngIf="canLoad" class="comments-list" [config]="configCommentComponent">
                        </app-comment-list>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ng-template #DwellingInfo> {{ 'PAGE.TOUR.DWELLING-INFO' | translate }} </ng-template>
<ng-template #DwellingWaterMater>{{ 'PAGE.TOUR.DWELLING-WATER-METER' | translate }} </ng-template>
<ng-template #DwellingWaterMaterMeasurement
    >{{ 'PAGE.TOUR.DWELLING-WATER-METER-MEASUREMENT' | translate }}
</ng-template>
<ng-template #DwellingMapDetail>{{ 'PAGE.TOUR.DWELLING-MAP-DETAIL' | translate }}</ng-template>
