<div class="form">

  <h1 class="text-center">
    {{title}}
  </h1>

  <app-notification></app-notification>

  <form class="change-water-meter-form" [formGroup]="waterMeterForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group form-row col-md-6">
      <label for="code">Nuevo Código Contador <span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="code" formControlName="code" placeholder="A-0123456789">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="waterMeterForm.pristine || waterMeterForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>