@use "../../../../../../scss/variables/paddings";
@use "../../../../../../scss/variables/sizes";
@use "../../../../../../scss/variables/margins";
@import "../../../../../../scss/theme/theme";
@import "../../../../../../scss/variables/borders";

.form {
  display: table;
  width: sizes.$width-x-medium;
  margin: margins.$margin-x-small auto;
}

@mixin set-form() {
  background-color: $color-primary-light;
  @include rounded-small;
}

.change-water-meter-form {
  padding: paddings.$padding-small;
  @include set-form();
}
