@mixin mat-button {
  button {
    box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent !important;
  }
}

@mixin mat-toggle-button($color) {
  mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color !important;
  }
}
