<mat-card class="table-card">
    <mat-card-header>
        <mat-card-title>
            <h2>{{ 'PAGE.RESIDENTS.MANAGER.TABLE.TITLE' | translate }}</h2>
        </mat-card-title>
        <div class="filter">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER' | translate }}</mat-label>
                    <input matInput matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER.TOOLTIP' | translate }}"
                        matTooltipPosition="right" (keyup)="applyFilter()" [formControl]="filter" />
                    <button matSuffix mat-icon-button
                        matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER.BUTTON.TOOLTIP' | translate }}"
                        *ngIf="filter.value.length > 0" (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef>first_name</th>
                <td mat-cell *matCellDef="let element"
                    matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.COLUMN.FIRST_NAME' | translate }}">
                    {{ element.first_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef>last_name</th>
                <td mat-cell *matCellDef="let element"
                    matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.COLUMN.LAST_NAME' | translate }}">
                    {{ element.last_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>email</th>
                <td mat-cell *matCellDef="let element"
                    matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.COLUMN.EMAIL' | translate }}">
                    {{ element.email }}
                </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>phone</th>
                <td mat-cell *matCellDef="let element"
                    matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.COLUMN.PHONE' | translate }}">
                    {{ element.phone }}
                </td>
            </ng-container>
            <ng-container matColumnDef="geolocation">
                <th mat-header-cell *matHeaderCellDef>geolocation</th>
                <td mat-cell *matCellDef="let element"
                    matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.COLUMN.ADDRESS' | translate }}">
                    {{ element.geolocation | geolocation: 'short' }}
                </td>
            </ng-container>

            <tr mat-row class="table-row" (click)="goToResident(row)" *matRowDef="let row; columns: displayedColumns"
                [ngClass]="row === isSelected ? 'selected-row' : ''"></tr>
        </table>
    </mat-card-content>

    <div class="actions">
        <mat-paginator [pageSize]="12" showFirstLastButtons> </mat-paginator>
    </div>
</mat-card>