<mat-card class="table-card">
    <mat-card-header>
        <mat-card-title>
            <h2>{{ 'PAGE.RESIDENTS.MANAGER.TABLE.TITLE' | translate }}</h2>
        </mat-card-title>
        <div class="filter">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER' | translate }}</mat-label>
                    <input
                        matInput
                        matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER.TOOLTIP' | translate }}"
                        matTooltipPosition="right"
                        (keyup)="applyFilter()"
                        [formControl]="filter"
                    />
                    <button
                        matSuffix
                        mat-icon-button
                        matTooltip="{{ 'PAGE.RESIDENTS.MANAGER.TABLE.FILTER.BUTTON.TOOLTIP' | translate }}"
                        *ngIf="filter.value.length > 0"
                        (click)="clearFilter()"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="resident_first_name">
                <th mat-header-cell *matHeaderCellDef>resident_first_name</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    matTooltip="{{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}"
                >
                    {{ element.user.first_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="resident_last_name">
                <th mat-header-cell *matHeaderCellDef>resident_last_name</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    matTooltip="{{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}"
                >
                    {{ element.user.last_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="resident_phones">
                <th mat-header-cell *matHeaderCellDef>resident_phones</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    matTooltip="{{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}"
                >
                    {{ element.user.phones[0].phone_number }}
                </td>
            </ng-container>
            <ng-container matColumnDef="resident_email">
                <th mat-header-cell *matHeaderCellDef>resident_email</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    matTooltip="{{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}"
                >
                    {{ element.user.email }}
                </td>
            </ng-container>


            <tr
                mat-row
                class="table-row"
                (click)="goToResident(row)"
                *matRowDef="let row; columns: displayedColumns"
                [ngClass]="row === isSelected ? 'selected-row' : ''"
            ></tr>
        </table>
    </mat-card-content>

    <div class="actions">
        <mat-paginator [pageSize]="12" showFirstLastButtons> </mat-paginator>
    </div>
</mat-card>
