<!-- TODO: fix vertical alignment-->
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" (click)="goToControlPanel()">Agube</a>
    <form class="d-flex">
      <button class="btn btn-secondary btn-sm">USERNAME</button>
    </form>
  </div>
</nav>
<div style="float: left" [hidden]="hiddenDetails">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <app-client-detail-card></app-client-detail-card>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <app-manager-detail-card></app-manager-detail-card>
      </div>
    </div>
  </div>
</div>
