<html>
  <head> </head>
  <body style="margin-left: 1em">
    <h1>Bienvenido/a a {{ app_name }}, {{ first_name }}!</h1>
    <div style="margin-left: 1em">
      <p>Su administrador {{ manager_name }} le ha dado de alta en el sistema como residente de una vivienda</p>
      <p>Active su cuenta con el código <h1>{{activation_code}}</h1> y acceda al sistema para actualizar su información</p>
      <p></p>
      <p>Su nombre de usuario es <b>{{ username }}</b></p>
      <p></p>
      <hr style="width: 45em" />
      <p>
        <em>
          Si usted no sabe qué es éste correo por favor pongase en contactos con nosotros en: {{ email_contact }}
        </em>
      </p>
    </div>
  </body>
</html>
