@import '../../../../../assets/availa/sizes/margins.scss';

.page-info {
  display: flex;
  .info-card {
    height: 20%;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-evenly;
      .row-info {
        margin: $margin-small;
        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          .mat-icon {
            margin-right: $margin-x-small;
          }
        }
      }
      h2 {
        text-align: center;
      }
    }
  }
}
