<div class="form">

  <h1 class="text-center">
    {{title}}
  </h1>

  <app-notification></app-notification>

  <form class="resident-form" [formGroup]="residentForm" novalidate (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="town">Nombre <span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="John">
        </div>
        <div class="form-group col-md-4">
          <label for="last_name">Apellidos <span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="last_name" formControlName="last_name"
            placeholder="Stark Targaryen">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="example@example.com">
        </div>
      </div>
    </div>

    <div formArrayName="phones" *ngFor="let phone of userForm.controls.phones?.value; let i = index">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone_number">Teléfono <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="phone_number" formControlName="phone_number"
              placeholder="666666666">
          </div>
        </div>
      </ng-container>
    </div>

    <!-- <div formArrayName="address" *ngFor="let creds of residentForm.controls.address?.value; let i = index">
      <ng-container [formGroupName]="i">
        <input placeholder="Username" formControlName="username">
        <input placeholder="Password" formControlName="password">
      </ng-container>
    </div> -->

    <button type="button" class="btn btn-primary" (click)="addPhones()">Añadir Teléfono</button>
    <button type="button" class="btn btn-primary" (click)="addAddress()">Añadir Dirección</button>

    <div class="text-center">
      <button type="submit" class="btn btn-primary"
        [disabled]="residentForm.pristine || residentForm.invalid">Guardar</button>
    </div>
  </form>

  <pre><p>{{ userForm.value | json }}</p></pre>
  <p>Form status: {{ userForm.status | json }}</p>

</div>