@import "../../../../assets/availa/sizes/page.scss";
@import "../../../../assets/availa/sizes/margins.scss";

.detail-page {
  @include my-page($columns: 1);
  width: 100%;
}

@media only screen and (max-width: 1850px) {
  .mat-card-content {
    display: block;
    justify-content: center !important;
    .dwelling-info {
      width: 100% !important;
    }
  }
}

.page-content {
  @include my-page-column($columnIndex: 1, $totalColumns: 1);
  .mat-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .dwelling-info {
      width: 60%;
      margin-top: $margin-x-medium;
      margin-left: $margin-x-medium;
      div {
        margin-left: $margin-small;
      }
    }
    .dwelling-map {
      width: 35%;
      mat-button-toggle-group {
        display: flex;
        justify-content: center;
        text-align: center;
        border: none;
      }
    }
  }
}
