<div class="detail-page">
  <div class="page-content">
    <mat-card>
      <mat-card-content *ngIf="dwelling; else noDwelling">
        <div class="dwelling-info">
          <h1>
            {{ dwelling.address | address }}
          </h1>
          <div class="dwelling-content-info">
            <app-address [address]="dwelling.address"></app-address>
            <div class="dwelling-resident">
              <app-owner [dwellingId]="dwelling.id"></app-owner>
              <app-resident [dwellingId]="dwelling.id"></app-resident>
            </div>
          </div>
          <app-water-meter-chart></app-water-meter-chart>
        </div>
        <div class="dwelling-map">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle (click)="mode = 'map'" matTooltip="{{'DWELLING_DETAIL.MAP.TOOLTIP_MAP'|translate}}"
              matTooltipPosition="left">
              <mat-icon>map</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="mode = 'streetView'"
              matTooltip="{{'DWELLING_DETAIL.MAP.TOOLTIP_STREET_VIEW'|translate}}" matTooltipPosition="right">
              <mat-icon>360</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <div *ngIf="mode=='map'; else showStreetView">
            <app-map [configureMap]="configureMap"></app-map>
          </div>
          <ng-template #showStreetView>
            <app-street-view [location]="location"></app-street-view>
          </ng-template>
        </div>

      </mat-card-content>
      <ng-template #noDwelling>
        <div class="no-dwelling">
          <div class="no-dwelling-text">

            <h2>
              {{'DWELLING_DETAIL.NO_DWELLING_DETAIL.TEXT'|translate}}
            </h2>
            <mat-icon class="alert-no-dwelling">assignment_late</mat-icon>
          </div>
          <div>
            <button mat-raised-button color="primary"
              matTooltip="{{ 'DWELLING_DETAIL.NO_DWELLING_DETAIL.BUTTON.TOOLTIP' | translate }}"
              (click)="goToNewDwelling()">
              <mat-icon>add_business</mat-icon>
              {{ 'DWELLING_DETAIL.NO_DWELLING_DETAIL.BUTTON.TEXT' | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </mat-card>
  </div>
</div>
