@import '../../../../assets/availa/sizes/page.scss';
@import '../../../../assets/availa/sizes/margins.scss';

@mixin dynamic-button {
    button {
        width: 215px;
        margin-top: $margin-small;
        margin-bottom: $margin-small;
        div {
            align-items: center;
            display: flex;
            mat-icon {
                margin-right: $margin-x-small;
            }
        }
    }
}

.detail-page {
    @include my-page($columns: 1);
    margin-bottom: $margin-large;
}

.position-gauge {
    margin-top: 80px;
}

@media only screen and (max-width: 1050px) {
    .dwelling-content-info {
        display: block !important;
    }

    .detail-info {
        margin-left: 70px !important;
    }
}

@media only screen and (max-width: 1660px) {
    .mat-card-content {
        display: block;
        // justify-content: center !important;
        .dwelling-info {
            width: 100% !important;
        }
        .dwelling-map {
            display: none;
        }
        .buttons-map {
            display: flex !important;
            margin-left: $margin-x-small;
        }
        .content-buttons-map {
            display: flex;
            justify-content: center;
        }
        .dwelling-resident {
            margin-left: 0px !important;
            flex-direction: column;
            display: flex;
            height: 60%;
        }
    }
}

@media only screen and (max-width: 735px) {
    .mat-card-content {
        .content-buttons-map {
            display: block !important;
        }
    }
    .buttons-map {
        margin-left: 74px !important;
    }
}

@media only screen and (max-width: 1950px) {
    .button-comments {
        display: flex !important;
    }
    .comments-list {
        display: none;
    }
}

.page-content {
    @include my-page-column($columnIndex: 1, $totalColumns: 1);
    .mat-card {
        height: 100%;
    }
    .mat-card-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .dwelling-info {
            width: 60%;
            margin-top: $margin-x-medium;
            margin-left: $margin-x-medium;
            mat-icon {
                cursor: pointer;
            }
            .dwelling-content-info {
                margin-left: $margin-small;
                display: flex;
                .dwelling-resident {
                    margin-left: $margin-medium;
                    flex-direction: column;
                    display: flex;
                    height: 60%;
                }
            }
        }
        .column-right {
            width: 35%;
            height: 1%;
            .dwelling-map {
                mat-button-toggle-group {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    border: none;
                }
            }
        }
    }
    .mat-spinner {
        top: 50%;
        margin: 0 auto;
    }
}

.content-buttons-map {
    display: flex;
}

.buttons-map {
    display: none;
    @include dynamic-button;
}

.button-comments {
    display: none;
    margin-left: $margin-x-small;
    @include dynamic-button;
}

.buttons-management {
    margin: $margin-x-medium $margin-x-medium 0 $margin-x-medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    button {
        width: 32%;
        margin-top: $margin-small;
        div {
            align-items: center;
            display: flex;
            mat-icon {
                margin-right: $margin-x-small;
            }
        }
    }
}
