@import '../../../../assets/availa/sizes/page.scss';
@import '../../../../assets/availa/sizes/margins.scss';
@import '../../../../assets/availa/sizes/resolutions.scss';

@mixin dynamic-button {
  button {
    width: 215px;
    margin: 0 auto;
    div {
      align-items: center;
      display: flex;
      mat-icon {
        margin-right: $margin-x-small;
      }
    }
  }
}

.detail-page {
  @include my-page($columns: 1);
}

.page-content {
  @include my-page-column($columnIndex: 1, $totalColumns: 1);
  .mat-card {
    height: 100%;
  }
  .mat-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .spring-source-info {
      width: 55%;
      margin-top: $margin-x-medium;
      margin-left: $margin-x-medium;
      mat-icon {
        cursor: pointer;
      }
      .spring-source-content-info {
        margin-left: $margin-small;
        display: flex;
        .spring-source-resident {
          margin-left: $margin-medium;
          flex-direction: column;
          display: flex;
          height: 60%;
        }
      }
    }
    .column-right {
      width: 35%;
      height: 1%;
      margin-right: $margin-x-medium;
      .spring-source-map {
        mat-button-toggle-group {
          display: flex;
          justify-content: center;
          text-align: center;
          border: none;
        }
      }
    }
  }
  .mat-spinner {
    top: 50%;
    margin: 0 auto;
  }
}

.content-buttons-map {
  display: block;
}

.buttons-map {
  display: none;
  @include dynamic-button;
}

.button-comments {
  display: none;
  margin: 0 auto;
  @include dynamic-button;
}

.buttons-management {
  margin: $margin-x-medium $margin-x-medium 0 $margin-x-medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  button {
    width: 32%;
    margin-top: $margin-small;
    div {
      align-items: center;
      display: flex;
      mat-icon {
        margin-right: $margin-x-small;
      }
    }
  }
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}

.content-buttons-generics-map {
  display: flex;
  height: fit-content;
}

// meadias queries
@media only screen and (max-width: 735px) {
  .mat-card-content {
    .content-buttons-map {
      display: block !important;
    }
  }
  .buttons-map {
    margin-left: 74px !important;
  }
}

@media only screen and (max-width: 1660px) {
  .mat-card-content {
    display: block;
    .spring-source-info {
      width: 100% !important;
    }
    .spring-source-map {
      display: none;
    }
    .buttons-map {
      display: flex !important;

      margin-left: 11%;
    }
    .content-buttons-map {
      display: block;
      justify-content: center;
    }
    .spring-source-resident {
      margin-left: 0px !important;
      flex-direction: column;
      display: flex;
      height: 60%;
    }
  }
}

@media only screen and (min-width: $resolution-medium-x) {
  .button-comments {
    display: flex !important;
    margin: 0 auto;
  }
  .comments-list {
    display: none;
  }

  .spring-source-info {
    width: 45% !important;
  }
  .column-right {
    width: 30% !important;
  }
  .position-gauge {
    display: flex !important;
    height: fit-content;
  }
}

@media only screen and (min-width: $resolution-x-large) {
  .button-comments {
    display: none !important;
    margin: 0 auto;
  }
  .comments-list {
    display: inline-block;
    width: auto !important;
    margin-top: $margin-small;
  }
  .spring-source-info {
    width: 35% !important;
  }
  .column-right {
    width: 45% !important;
  }
}

@media only screen and (max-width: 2312px) {
  .button-comments {
    display: flex !important;
    margin: 0 auto;
  }
  .comments-list {
    display: none;
  }

  .spring-source-info {
    width: 51% !important;
  }
  .column-right {
    width: 40% !important;
  }
  .position-gauge {
    display: flex !important;
  }
}
