<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://avatars.slack-edge.com/2020-10-13/1409854645591_0387c36ecf7c102cc07b_230.png" class="brand_logo" alt="Logo" />
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form [formGroup]="loginForm">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="" class="form-control input_user" value="" formControlName="username" placeholder="username" />
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" formControlName="password" placeholder="Contraseña" />
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline" />
                            <label class="custom-control-label" for="customControlInline">Recuerdame</label
              >
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button
              type="button"
              name="button"
              class="btn login_btn"
              (click)="onSubmit()"
            >
              Login
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          No tienes cuenta?
          <a href="../register" class="btn btn-link">Registrate</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#">Olvidaste la contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</div>