<mat-card>
    <mat-card-title>Presidente</mat-card-title>
    <mat-card-subtitle>Datos del presidente</mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <mat-list-item><span><strong>Nombre:</strong> {{ president.name }}</span
        ></mat-list-item
      >
      <mat-list-item>
        <span><strong>Teléfono:</strong> {{ president.phone }}</span>
            </mat-list-item>
            <mat-list-item>
                <span><strong>Dirección:</strong> {{ president.address }}</span>
            </mat-list-item>
            <mat-list-item>
                <span><strong>Email:</strong> {{ president.email }}</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>