<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between stretch">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="goToControlPanel()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title" style="margin-top: 8px" (click)="getCards()">{{ title }}</div>
  <button
    mat-icon-button
    class="example-icon user-button"
    aria-label="Example icon-button with share icon"
  >
    {{ currentUser.username }}
    <mat-icon>account_circle</mat-icon>
  </button>
</div>
<div style="float: left;" [hidden]="hideCards">
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Change the background</h2>
      <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Add borders</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
    </div>
  </div>
</div>
</div>
