<div class="form">
    <h3>{{ 'PAGE.CONFIG.MANAGER.NOTIFICATION.TITLE' | translate }}</h3>
    <div class="form-content">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'PAGE.CONFIG.MANAGER.NOTIFICATION.SUBTITLE' | translate }}</mat-label>
            <textarea matInput [formControl]="message"></textarea>
        </mat-form-field>
        <mat-card-subtitle class="subtitle">
            {{ 'PAGE.CONFIG.MANAGER.NOTIFICATION.MESSAGE' | translate }}
        </mat-card-subtitle>
    </div>
    <mat-progress-bar *ngIf="loadSave" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions [align]="'end'">
        <button
            mat-raised-button
            color="primary"
            matTooltip="{{ 'PAGE.CONFIG.MANAGER.FORM.BUTTON.TOOLTIP' | translate }}"
            (click)="saveNotification()"
            [disabled]="message.invalid || loadSave"
        >
            <div>
                <mat-icon>save</mat-icon>
                {{ 'GENERAL.BUTTON.SAVE' | translate }}
            </div>
        </button>
    </mat-card-actions>
</div>
