@import '../../../../../../../assets/availa/sizes/margins.scss';

.edited-form {
  display: flex;
  align-items: center;
  width: 100%;

  .is-principal {
    margin-left: $margin-small;
  }
}
.edited-buttons {
  width: 20%;
  display: flex;
  margin-top: $margin-small;
}
