<div class="subgrid bg-configuration">
  <div class="m-2 card-configuration w-85">
    <app-notification></app-notification>
    <form
      class="display-flex"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="col-sm-4">
        <strong for="hook_price" class="form-label">Precio Enganche</strong>
        <input
          type="number"
          class="form-control"
          id="hook_price"
          formControlName="hook_price"
        />
      </div>
      <div class="col-sm-4">
        <strong for="release_date" class="form-label">Fecha</strong>
        <input
          type="date"
          class="form-control"
          id="release_date"
          formControlName="release_date"
          readonly
        />
      </div>
      <div class="col-sm-4">
        <strong for="max_daily_consumption" class="form-label"
          >Consumo máximo</strong
        >
        <input
          type="number"
          class="form-control"
          id="max_daily_consumption"
          formControlName="max_daily_consumption"
          readonly
        />
      </div>
    </form>
    <div class="m-3">
      <button class="w-100 btn btn-primary" type="button" (click)="onSubmit()">
        Editar precio de enganche
      </button>
    </div>
  </div>
  <div></div>
  <div class="m-2 card-configuration w-85">
    <form
      class="display-flex"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmitPassword()"
    >
      <div class="col-sm-6">
        <strong for="password" class="form-label">Contraseña</strong>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="col-sm-6">
        <strong for="password2" class="form-label">Confirmar Contraseña</strong>
        <input
          type="password"
          class="form-control"
          id="password2"
          formControlName="password2"
        />
      </div>
    </form>
    <button
      class="w-100 btn btn-primary"
      type="button"
      (click)="onSubmitPassword()"
      [disabled]="registerForm.invalid"
    >
      Cambiar Contraseña
    </button>
  </div>
</div>
