<div *ngIf="loading; else noDwelling">
  <div class="title">
    <h1>{{'DWELLING_CLIENT.TITLE'|translate}}</h1>
  </div>

  <div class="dwelling-detail">
    <button mat-stroked-button class="button" *ngFor="let dwelling of dwellings" (click)="goToDwellingDetail(dwelling)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 class="title-card">{{dwelling | dwellingDetail | slice:0:35}}</h3>
          </mat-card-title>
          <mat-card-subtitle>{{'DWELLING_CLIENT.INFO.COUNTER'|translate}}: {{dwelling.water_meter_code}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngIf="dwelling.is_owner">
            <mat-icon>hail</mat-icon>
            {{'DWELLING_CLIENT.INFO.OWNER'|translate}}
          </div>
          <div class="resident" *ngIf="dwelling.is_resident">
            <div class="icons">
              <mat-icon>escalator_warning</mat-icon>
              <span>
                {{'DWELLING_CLIENT.INFO.RESIDENT'|translate}}
              </span>
              <div>
                <mat-icon>call</mat-icon>
                {{dwelling.resident_phone}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </button>
  </div>
</div>
<ng-template #noDwelling>
  <div class="no-dwelling">
    <div class="no-dwelling-text">
      <h2>
        {{'DWELLING_CLIENT.NO_DWELLING.TEXT'|translate}}
      </h2>
      <mat-icon class="alert-no-dwelling">assignment_late</mat-icon>
    </div>
    <div *ngIf="userIsManager">
      <button mat-raised-button color="primary"
        matTooltip="{{ 'DWELLING_CLIENT.NO_DWELLING.BUTTON.TOOLTIP' | translate }}" (click)="goToNewDwelling()">
        <mat-icon>add_business</mat-icon>
        {{ 'DWELLING_CLIENT.NO_DWELLING.BUTTON.TEXT' | translate }}
      </button>
    </div>
  </div>
</ng-template>