@import "../../../../../assets/availa/sizes/margins.scss";

.reservoir-info {
  margin-top: $margin-small;
  div {
    display: flex;
    align-items: center;
    margin-bottom: $margin-small;
    h2 {
      margin: 0 $margin-x-small 0 $margin-x-small;
    }
  }
}
