<mat-card class="card-management" *ngIf="dwellingDetail">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ dwellingDetail | dwellingDetail }}</h1>
      <button mat-fab (click)="goToDwellingDetail()"
        matTooltip="{{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.GO_DWELLING_TOOLTIP' | translate }}">
        <mat-icon>store</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}
    <app-water-meter-content (waterMeterId)="loadWaterMeter($event)" [elementId]="dwellingDetail.id"
      [type]="type?.type">
    </app-water-meter-content>
    {{ 'GENERAL.TEXT.RESIDENT' | translate }}
    <app-resident-content [dwellingId]="dwellingDetail.id"></app-resident-content>
    <div class="buttons-management">
      <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_WATER_METER_CODE.TOOLTIP' | translate }}"
        (click)="openChangeWaterMeter()">
        <div>
          <mat-icon>update</mat-icon>
          {{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_WATER_METER_CODE' | translate }}
        </div>
      </button>
      <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_RESIDENT.TOOLTIP' | translate }}"
        (click)="goToChangeResident()">
        <div>
          <mat-icon>escalator_warning</mat-icon>
          {{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_RESIDENT' | translate }}
        </div>
      </button>
      <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_OWNER.TOOLTIP' | translate }}"
        (click)="goToChangeOwner()">
        <div>
          <mat-icon>hail</mat-icon>
          {{ 'PAGE.DWELLING.MANAGER.MANAGEMENT.BUTTON.CHANGE_OWNER' | translate}}
        </div>
      </button>
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div class="water-meter-container">
      <app-water-meter-detail [waterMeterId]="waterMeterId!" [type]="type"></app-water-meter-detail>
    </div>
  </mat-card-content>
</mat-card>