@import "../../../../assets/availa/sizes/margins.scss";

.selector-geolocation-map {
  margin: $margin-small;
  width: 100%;
  mat-form-field {
    width: 60%;
  }
  .filter-results {
    display: flex;
    mat-selection-list {
      width: 60%;
      mat-list-option {
        div {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  div {
    width: 100%;
    #map {
      height: 600px;
      width: 100%;
    }
  }
}
