<div class="contact-info">
    <div *ngIf="resident; else noResident">
        <h2>
            {{ resident.user | userDetail}}
        </h2>
        <p>
            {{"DWELLINGS.CARD.RESIDENT.CONTACT_PHONE" | translate}} <b>{{getMainPhone()}}</b>
        </p>
        <p>
            {{"DWELLINGS.CARD.RESIDENT.RELEASE_DATE" | translate}} <b>{{resident.release_date | date:'longDate' }}</b>
        </p>
    </div>
    <ng-template #noResident>
        <h2> {{"DWELLINGS.CARD.RESIDENT.NO_RESIDENT" | translate}}</h2>
    </ng-template>
</div>