<div class="reset-password-form">
    <mat-card class="reset-password-card">
        <mat-card-title>{{ 'RESET_PASSWORD.TITLE' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'RESET_PASSWORD.SUBTITLE' | translate }}</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'RESET_PASSWORD.FORM.EMAIL.TEXT' | translate }}</mat-label>
                <input matInput placeholder="St4rk" [formControl]="email" autofocus>
                <mat-error *ngIf="email.invalid">{{ errorValidator('activationCode') | translate }}</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-card-actions>
            <button matTooltip="{{'ENABLE_ACCOUNT.BUTTONS.BACK.TOOLTIP'|translate}}" mat-button color="primary"
                (click)="goLogin()">
                {{'ENABLE_ACCOUNT.BUTTONS.BACK.TEXT'|translate}}
            </button>
            <button matTooltip="{{ 'RESET_PASSWORD.BUTTON.TOOLTIP' | translate }}" mat-raised-button color="primary"
                (click)="doResetPassword()" [disabled]="email.invalid">
                <div>
                    <mat-icon>task_alt</mat-icon>
                    {{ 'RESET_PASSWORD.BUTTON.TEXT' | translate }}
                </div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>