.reset-password-card {
    display: table-caption;
    text-align: center;
    width: 300px;
    mat-form-field {
        padding: 5px;
    }
}

.reset-password-form {
    display: flex;
    justify-content: center;
    mat-card-content {
        display: inline-grid;
    }
    mat-card-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            display: flex;
            align-items: center;
        }
        mat-icon {
            padding-right: 5px;
        }
    }
}
