@import '../../../../../assets/availa/sizes/margins.scss';

.page-info {
  display: flex;
  .info-card {
    height: 20%;
    width: 220px;
    div {
      margin: $margin-small;
      .number {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    h2 {
      text-align: center;
    }
  }
}
