<div class="form">

  <h1 class="text-center">
    {{title}}
  </h1>

  <app-notification></app-notification>

  <form class="dwelling-form" [formGroup]="dwellingForm" novalidate (ngSubmit)="onSubmit()">
    <div formGroupName="full_address">

      <div formGroupName="address">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="town">Ciudad <span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="town" formControlName="town" placeholder="Vigo">
          </div>
        </div>
        <div class="form-group">
          <label for="street">Calle <span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="street" formControlName="street" placeholder="Plz España">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="number">Número <span style="color: red;">*</span></label>
          <input type="number" class="form-control" id="number" formControlName="number" placeholder="1234">
        </div>
        <div class="form-group col-md-2">
          <label for="flat">Piso</label>
          <input type="number" class="form-control" id="flat" formControlName="flat" placeholder="3º">
        </div>
        <div class="form-group col-md-2">
          <label for="gate">Puerta</label>
          <input type="text" class="form-control" id="gate" formControlName="gate" placeholder="A">
        </div>
      </div>
    </div>

    <div formGroupName="water_meter">
      <div class="form-group">
        <label for="code">Código contador <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="A-0123456789">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="dwellingForm.pristine || dwellingForm.invalid">
        <i class="fas fa-save"></i>
        Guardar</button>
    </div>
  </form>

  <!-- <pre><p>{{ dwellingForm.value | json }}</p></pre> -->
  <!-- <p>Form status: {{ dwellingForm.status | json }}</p> -->

</div>