<div class="table-card table-config">
  <h4>Alta vivienda</h4>
  <form
    [formGroup]="createFormGroup"
    style="border: 1px solid lightgray; padding: 10px; border-radius: 10px"
  >
    <div class="row" style="margin-right: -9%">
      <div class="col-sm-5">
        <label for="street">Calle</label>
        <input
          type="text"
          formControlName="street"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.street.errors }"
        />
        <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
          <div *ngIf="f.street.errors.required">Se requiere una calle</div>
        </div>
      </div>
      <div class="col-sm-2">
        <label for="number">Número</label>
        <input
          type="number"
          formControlName="number"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.number.errors }"
        />
        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
          <div *ngIf="f.number.errors.required">Se requiere un número</div>
        </div>
      </div>
      <div class="col-sm-2">
        <label for="flat">Piso</label>
        <input
          type="number"
          formControlName="flat"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.flat.errors }"
        />
        <div *ngIf="submitted && f.flat.errors" class="invalid-feedback">
          <div *ngIf="f.flat.errors.required">Se requiere una puerta</div>
        </div>
      </div>
      <div class="col-sm-2">
        <label for="gate">Puerta</label>
        <input
          type="text"
          formControlName="gate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.gate.errors }"
        />
        <div *ngIf="submitted && f.gate.errors" class="invalid-feedback">
          <div *ngIf="f.gate.errors.required">Se requiere una puerta</div>
        </div>
      </div>

      <div class="col-sm-5" colspan="4">
        <label for="city">Ciudad</label>
        <input
          type="text"
          formControlName="city"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
        />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">Se requiere una ciudad</div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="waterMeter">Cód. Contador</label>
        <input
          type="text"
          formControlName="waterMeter"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.waterMeter.errors }"
        />
        <div *ngIf="submitted && f.waterMeter.errors" class="invalid-feedback">
          <div *ngIf="f.waterMeter.errors.required">
            Se requiere un código de contador
          </div>
        </div>
      </div>
    </div>
  </form>
  <h4>Pagador</h4>

  <form
    [formGroup]="paymasterFormGroup"
    style="border: 1px solid lightgray; padding: 10px; border-radius: 10px"
  >
    <div class="row" style="margin-right: -21%">
      <div class="col-sm-5">
        <label for="iban">IBAN</label>
        <input
          type="text"
          formControlName="iban"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.iban.errors }"
        />
        <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
          <div *ngIf="f.iban.errors.required">Se requiere un iban</div>
        </div>
      </div>

      <div class="col-sm-5" style="margin-top: 34px;">
        <form [formGroup]="radioGroupForm">
          <div class="btn-group btn-group-toggle d-flex">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" formControlName="owner" ngbButton />
              Propietario
            </label>

            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" formControlName="resident" ngbButton />
              Residente
            </label>
          </div>
        </form>
      </div>
    </div>
  </form>
  <h4>Propietario</h4>

  <form
    [formGroup]="ownerFormGroup"
    (ngSubmit)="(onSubmitOwner)"
    style="border: 1px solid lightgray; padding: 10px; border-radius: 10px"
  >
   <div class="row" style="margin-right: -21%">
      <div class="col-sm-5">
        <label for="name">Nombre</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Se requiere un nombre</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="lastName">Apellido</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Se requiere un apellido</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="username">username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Se requiere un username</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="email">email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Se requiere un email</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="phone">teléfono</label>
        <input
          type="number"
          formControlName="phone"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
        />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Se requiere un teléfono</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="address">Dirección <span style="color:red">*</span></label>
        <input
          type="text"
          formControlName="address"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
        />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Se requiere una dirección</div>
        </div>
      </div>
      <div class="col-sm-5">
        <span style="color: red;">* Solo agrega el propietario y el residente </span> <br/>
        <span style="color: red;">** Agregar la dirección si es distinta que la vivienda de alta </span>
      </div>
      <div class="col-sm-5">
        <button
          class="btn btn-primary w-100 h-50"
          type="button"
          (click)="onSubmitOwner()"
          style="margin-top: 33px"
        >
          Agregar Propietario
          <span style="color:red">**</span>
        </button>
      </div>
    </div>
  </form>
  <h4>Residente</h4>

  <form
    [formGroup]="residentFormGroup"
    style="border: 1px solid lightgray; padding: 10px; border-radius: 10px"
  >
    <!-- <label ngbButtonLabel class="btn-primary p-1" disabled="disabledRes">
    <input ngbButton type="radio" value="middle" (click)="paymasterClickRes($event)" /> Pagador
  </label> -->
    <div class="row" style="margin-right: -21%">
      <div class="col-sm-5">
        <label for="nameRes">Nombre</label>
        <input
          type="text"
          formControlName="nameRes"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nameRes.errors }"
        />
        <div *ngIf="submitted && f.nameRes.errors" class="invalid-feedback">
          <div *ngIf="f.nameRes.errors.required">Se requiere un nombre</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="lastNameRes">Apellido</label>
        <input
          type="text"
          formControlName="lastNameRes"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        />
        <div *ngIf="submitted && f.lastNameRes.errors" class="invalid-feedback">
          <div *ngIf="f.lastNameRes.errors.required">
            Se requiere un apellido
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="usernameRes">username</label>
        <input
          type="text"
          formControlName="usernameRes"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.usernameRes.errors }"
        />
        <div *ngIf="submitted && f.usernameRes.errors" class="invalid-feedback">
          <div *ngIf="f.usernameRes.errors.required">
            Se requiere un username
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="emailRes">email</label>
        <input
          type="text"
          formControlName="emailRes"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.emailRes.errors }"
        />
        <div *ngIf="submitted && f.emailRes.errors" class="invalid-feedback">
          <div *ngIf="f.emailRes.errors.required">Se requiere un email</div>
        </div>
      </div>
      <div class="col-sm-5">
        <label for="phoneRes">teléfono</label>
        <input
          type="number"
          formControlName="phoneRes"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phoneRes.errors }"
        />
        <div *ngIf="submitted && f.phoneRes.errors" class="invalid-feedback">
          <div *ngIf="f.phoneRes.errors.required">Se requiere un teléfono</div>
        </div>
      </div>
      <div class="col-sm-5">
        <button
          class="btn btn-primary w-100 h-50"
          type="button"
          (click)="onSubmitResident()"
          style="margin-top: 33px"
        >
          Agregar Residente y Propietario
        </button>
      </div>
    </div>
  </form>

</div>
