<app-menu></app-menu>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="column1">
    <app-client-details-card></app-client-details-card>
    <app-presdent-details-card></app-presdent-details-card>
  </div>
  <div class="column2">
    <mat-card>
      <mat-card-title>Gestión</mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button>Viviendas</button>
        <button mat-stroked-button>Contactos</button>
        <button mat-stroked-button>Agenda</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column2">
    <mat-card>
      <mat-card-title>Planificación</mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button>Lectura Contador</button>
        <button mat-stroked-button>Incidencias</button>
        <button mat-stroked-button>Facturas</button>
        <button mat-stroked-button>Correos</button>
        <button mat-stroked-button>Calendario</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column3">
    <mat-card>
      <mat-card-title>Configuración</mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-stroked-button>Depósito</button>
        <button mat-stroked-button>General</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
