<app-menu></app-menu>

<div fxLayout="row" fxLayoutAlign="space-around start">
  <div>
    <app-client-details-card></app-client-details-card>
    <app-presdent-details-card></app-presdent-details-card>
  </div>
  <div>
    <app-control-panel-group [groupConfig]="managementButtons"></app-control-panel-group>
  </div>
  <div>
    <app-control-panel-group [groupConfig]="planningButtons"></app-control-panel-group>
  </div>
  <div>
    <app-control-panel-group [groupConfig]="configurationButtons"></app-control-panel-group>
  </div>
</div>
