<div class="modal-header">
  <h4 class="modal-title">Nueva Lectura</h4>
</div>
<div class="modal-body">
  <form [formGroup]="readingForm" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="readingForm" [model]="model" [fields]="fields">
    </formly-form>

    <div class="modal-footer">
      <app-notification></app-notification>
      <button type="button" class="btn btn-primary" (click)="cancel()">
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="readingForm.invalid"
      >
        <i class="fas fa-save"></i>
        Guardar
      </button>
    </div>
  </form>
</div>
