<div class="create-reservoir-page">
    <mat-card class="create-reservoir-page-card">
        <sup>
            <mat-icon
                class="icon-tour"
                (click)="tour()"
                svgIcon="tour"
            >
            </mat-icon>
        </sup>
        <mat-card-content>
            <div class="form">
                <h1>
                    {{ 'PAGE.RESERVOIR.CREATE.TITLE' | translate }}
                </h1>
                <div class="form-content">
                    <app-map-location-create
                        (addressForm)="addressFormReceive($event)"
                        [baseConfiguration]="configureMap"
                        [addressInputForm]="addressInputForm"
                        [resetForm]="resetChildForm"
                    >
                    </app-map-location-create>
                    <span *ngIf="addressEmitter?.userHasMapClicked">
                        <div class="form-reservoir">
                            <mat-form-field appearance="fill">
                                <mat-label>{{ 'PAGE.RESERVOIR.CREATE.CAPACITY' | translate }}</mat-label>
                                <input
                                    matInput
                                    placeholder="1000"
                                    type="number"
                                    max="9999999"
                                    [formControl]="capacity"
                                    (keydown.enter)="save()"
                                />
                                <span matPrefix>
                                    <mat-icon>opacity</mat-icon>
                                </span>
                                <span matSuffix>L</span>
                                <mat-error *ngIf="capacity.invalid"
                                    >{{ errorValidator('capacity') | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>{{ 'PAGE.RESERVOIR.CREATE.INLET_FLOW' | translate }}</mat-label>
                                <input
                                    matInput
                                    placeholder="1000"
                                    type="number"
                                    max="9999999"
                                    [formControl]="inletFlow"
                                    (keydown.enter)="save()"
                                />
                                <span matPrefix>
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </span>
                                <span matSuffix>m<sup>3</sup></span>
                                <mat-error *ngIf="inletFlow.invalid">{{
                                    errorValidator('inletFlow') | translate
                                }}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>{{ 'PAGE.RESERVOIR.CREATE.OUTLET_FLOW' | translate }}</mat-label>
                                <input
                                    matInput
                                    placeholder="1000"
                                    type="number"
                                    max="9999999"
                                    [formControl]="outletFlow"
                                    (keydown.enter)="save()"
                                />
                                <span matPrefix>
                                    <mat-icon>arrow_back_ios</mat-icon>
                                </span>
                                <span matSuffix>m<sup>3</sup></span>
                                <mat-error *ngIf="outletFlow.invalid">{{
                                    errorValidator('outletFlow') | translate
                                }}</mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'PAGE.DWELLING.CREATE.CODE_COUNTER' | translate }}</mat-label>
                            <input matInput placeholder="0-123456789" [formControl]="code" autofocus />
                            <mat-error *ngIf="code.invalid">{{ errorValidator('code') | translate }}</mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="loadingPost"></mat-progress-bar>
                <mat-card-actions [align]="'end'" *ngIf="addressEmitter?.userHasMapClicked">
                    <button
                        mat-button
                        matTooltip="{{ 'PAGE.DWELLING.CREATE.BUTTON.CLOSE.TOOLTIP' | translate }}"
                        (click)="exit()"
                    >
                        {{ 'GENERAL.BUTTON.EXIT_WITHOUT_SAVING' | translate }}
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="{{ 'PAGE.RESERVOIR.CREATE.BUTTON.SAVE.TOOLTIP' | translate }}"
                        (click)="save()"
                        [disabled]="!this.reservoirForm || this.reservoirForm.invalid"
                    >
                        <div>
                            <mat-icon svgIcon="save"></mat-icon>
                            {{ 'PAGE.RESERVOIR.CREATE.BUTTON.SAVE.TEXT' | translate }}
                        </div>
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="{{ 'PAGE.RESERVOIR.CREATE.BUTTON.SAVE.SAVE_EXIT.TOOLTIP' | translate }}"
                        (click)="saveAndExit()"
                        [disabled]="!this.reservoirForm || this.reservoirForm.invalid"
                    >
                        <div>
                            <mat-icon>exit_to_app</mat-icon>
                            {{ 'PAGE.RESERVOIR.CREATE.BUTTON.SAVE.SAVE_AND_EXIT' | translate }}
                        </div>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
