<div class="card card-component-dwelling" *ngIf="dwelling">
  <div>
    <div>
      <div class="card-body">
        <h1>
          {{ dwelling.full_address | fullAddress }}
        </h1>
      </div>
    </div>
    <app-water-meter-enabled-detail-card [dwellingId]="dwellingId">
    </app-water-meter-enabled-detail-card>
    <app-dwelling-resident-detail-card [dwellingId]="dwellingId">
    </app-dwelling-resident-detail-card>
  </div>
  <div>
    <app-dwelling-water-meter-readings-detail-card [dwellingId]="dwellingId">
    </app-dwelling-water-meter-readings-detail-card>
  </div>
</div>