.container-login {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  // FIXME: use colors from project style palette
  background: #71a9ff;
  color: white;
  margin-top: 11em;
  border-radius: 15px;
}
