@use '../../../../assets/availa/palette/colors.scss' as color;
@import '../../../../assets/availa/sizes/margins.scss';
@import '../../../../assets/availa/sizes/resolutions.scss';

.water-meter {
  display: flex;
  width: 100%;
  .table {
    width: 100%;
    max-width: 100%;
    height: 300px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .selector-and-filter {
        display: flex;
        width: 100%;

        mat-form-field {
          margin-left: 15px;
        }
        .filter {
          width: 30%;
        }
      }
    }
    .scroll {
      height: 65%;
      overflow: auto;
    }
    .no-data {
      text-align: center;
    }
  }
}

.button-reading {
  margin-left: 40px;
}

.overflow {
  color: color.$overflow-primary-text;
}

.no-overflow {
  color: color.$no-overflow-primary-text;
}

.final-table-measurement {
  display: flex;
  justify-content: flex-end;
  mat-form-field {
    width: 15% !important;
  }
  .button-pagination {
    margin-top: $margin-small;
    button {
      mat-icon {
        color: color.$light-primary-text !important;
      }
    }
  }
}

@media only screen and (max-width: $resolution-xs-medium) {
  .water-meter {
    display: flex;
  }
}

@media only screen and (max-width: 1100px) {
  .prototype-3 {
    display: none !important;
  }
}
@media only screen and (max-width: 939px) {
  .prototype-3 {
    display: none !important;
  }
}
