@import '../../../../../assets/availa/sizes/page.scss';
@import '../../../../../assets/availa/sizes/margins.scss';

.detail-page {
    @include my-page($columns: 1);
    width: 100%;
}

@media only screen and (max-width: 1850px) {
    .mat-card-content {
        display: block;
        justify-content: center !important;
        .resident-info {
            width: 100% !important;
        }
    }
}

.page-content {
    @include my-page-column($columnIndex: 1, $totalColumns: 1);
    .mat-card {
        height: 100%;
    }
    .avatar {
        margin-left: 30px;
        img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }
    }
    mat-card-content {
        margin-top: $margin-x-medium;
        margin-left: $margin-x-medium;
        h1 {
            margin-left: $margin-small;
        }
        h3 {
            margin: 0px;
            margin-left: $margin-small;
        }
        .resident-dwelling {
            display: flex;
            flex-wrap: 'wrap';
            .resident {
                margin-left: $margin-small;

                .resident-info {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: $margin-small;
                }
                .resident-data-info {
                    margin-left: $margin-small;
                }
            }
            .dwellings {
                margin-top: $margin-x-medium;
                margin-left: $margin-medium;
                height: 10px;
                flex-grow: 1;
                width: 33%;
                .card-dwelling {
                    margin-bottom: $margin-medium;
                    margin-left: $margin-medium;
                }
            }
        }
    }
}
