<div class="modal-header">
  <h4 class="modal-title">Historico de Lecturas y Contadores</h4>
</div>
<div class="modal-body">
  <div *ngFor="let item of getHistorical; let i = index">
    <h2>
      <button type="button" (click)="openOrClose($event)">
        {{ item.code }}
      </button>
    </h2>
    <div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Medida</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of item.measures; let i = index">
              <th scope="row">{{ item.measurement }}</th>
              <td>{{ item.date | date: "dd/MM/yyyy -  HH:mm"  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="cancel()">
    Cancelar
  </button>
</div>
