<div class="detail-page">
    <div class="page-content">
        <mat-card *ngIf="resident">
            <mat-card-content>
                <h1>{{ resident.user | userDetail }}</h1>
                <div class="dwellings">
                    <span *ngFor="let dwelling of dwellings">
                        <app-card-button [dwelling]="dwelling"></app-card-button>
                    </span>
                </div>
                <div class="resident">
                    <h1>Datos</h1>
                    <h3>Correo electrónico</h3>
                    <div class="resident-info">
                        <div class="resident-data-info">
                            <h4 class="resident-data-info">{{ resident.user.email }}</h4>
                        </div>
                    </div>
                    <h3>Teléfonos de contacto</h3>
                    <div class="resident-info" *ngIf="resident.user.phones">
                        <div class="resident-data-info" *ngFor="let phone of resident.user.phones">
                            <span>
                                <h4>{{ phone.phone_number }}</h4>
                            </span>
                        </div>
                    </div>
                    <h3>Direcciones</h3>
                    <div class="resident-info" *ngIf="resident.user.geolocation">
                        <div class="resident-data-info" *ngFor="let geolocation of resident.user.geolocation">
                            <app-address [geolocation]="geolocation"></app-address>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>