@import "../../../../assets/availa/sizes/margins.scss";

.card-management {
  max-width: 100%;
  height: 100%;
  margin-right: 30px;
  mat-card-header {
    h1 {
      margin: $margin-small 0 $margin-small 0;
    }
  }
  mat-card-content {
    min-width: 100%;
    margin: $margin-small 0 0 $margin-small;
    .buttons-management {
      margin: $margin-x-medium $margin-x-medium 0 $margin-x-medium;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      button {
        width: 30%;
        margin-top: $margin-small;
        div {
          align-items: center;
          display: flex;
          mat-icon {
            margin-right: $margin-x-small;
          }
        }
      }
    }
    .divider {
      display: flex;
      justify-content: center;
      mat-divider {
        position: inherit;
        width: 40%;
        margin: $margin-x-medium 0 $margin-x-small 0;
      }
    }
    .water-meter-container {
      margin: 0 $margin-x-medium 0 0;
    }
  }
}
