<div class="contenedor">
  <app-utils
    [titleCard]="'Cambio Pagador'"
    [isHiddenAddress]="true"
    [isHiddenBank]="false"
    [isHiddenResident]="true"
    [isHiddenOwner]="true"
    [isHiddenCount]="true"
    [formDataConfiguration]="formConfigurationData"
    (sendForm)="sendForm($event)"
  ></app-utils>

  <mat-card
    class="col-md-6"
    style="
      display: inline-block;
      border: 1px solid;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    "
  >
    <mat-card-title
      style="background-color: #03a9f4; color: white; padding: 5px"
      >Propietario</mat-card-title
    >
  </mat-card>
  <mat-card
    class="col-md-6"
    style="
      display: inline-block;
      border: 1px solid;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    "
  >
    <mat-card-title
      style="background-color: #03a9f4; color: white; padding: 5px"
      >Residente</mat-card-title
    >
  </mat-card>
</div>
