@import "../../../../../../../styles.scss";

.paymaster-row {
  background-color: $color-terciary;
}

.selected-row {
  background-color: $color-primary;
}

.card-paymaster {
  display: grid;
}

.border-primary {
  border-color: $color-terciary !important;
}
.container-paymaster {
  margin-left: 18%;
  margin-top: 4%;
}

.container-number-bank {
  width: 94%;
  margin-left: 2%;
  margin: 0 auto;
}
.container-buttons {
  height: 50px;
  margin: 30px 96px 30px 67px;
}
