<div class="table-card table-config">
  <app-notification></app-notification>
  <h4 class="col-12">Cambio de pagador</h4>
  <form class="col-12 text-center m-3" [formGroup]="registerForm" class="border-forms">

    <div class="col-6 container-number-bank">
      <label for="numberBank" class="form-label">Número de cuenta</label>
      <input type="bank" formControlName="numberBank" class="form-control" />
      <div class="invalid-feedback">Se requiere un número de cuenta.</div>
    </div>

    <div class="row col-12" style="cursor: pointer">
      <div class="col-6" [hidden]="owner === resident">
        <div
          class="card m-4 rounded-3 shadow-sm border-primary"
          (click)="selectedRow(owner)"
        >
          <div
            class="card-header py-3 border-primary"
            [ngClass]="{
              'paymaster-row': owner === paymaster,
              'selected-row': owner === selectRow
            }"
          >
            <h4 class="my-0 fw-normal">Propietario {{ owner }}</h4>
          </div>
          <div class="card-body">
            <p class="card-text card-paymaster">
              <strong>Dirección:</strong> {{ addressOwn }}
              <strong>Teléfono:</strong> {{ phoneOwn }}
              <strong>Nombre:</strong> {{ owner }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="card m-4 rounded-3 shadow-sm"
          (click)="selectedRow(resident)"
        >
          <div
            class="card-header py-3"
            [ngClass]="{
              'paymaster-row': resident === paymaster,
              'selected-row': resident === selectRow
            }"
          >
            <h4 class="my-0 fw-normal">Residente {{ resident }}</h4>
          </div>
          <div class="card-body">
            <p class="card-text" style="display: grid">
              <strong>Dirección:</strong> {{ addressRes }}
              <strong>Teléfono:</strong> {{ phoneRes }}
              <strong>Nombre:</strong> {{ resident }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="col-12">
    <button
      class="w-25 h-100 btn btn-primary btn-lg"
      type="button"
      (click)="goToControlPanel()"
    >
      Atrás
    </button>
    <button
      class="w-25 h-100 btn btn-primary btn-lg"
      style="margin-left: 8%"
      type="button"
      (click)="onSubmit()"
    >
      Cambio de pagador
    </button>
  </div>
</div>
