.detail-table-group {
  margin-right: 0.5%;
  width: 100%;
  height: 100%;
}

.detail-table {
  width: 100%;
  height: 100%;
}

.detail-living-place-card {
  margin-left: 0.5%;
  width: 100%;
}
