<div class="create-resident-page">
    <mat-card class="create-resident-page-card">
        <mat-card-content>
            <div class="form">
                <h1>{{ 'PAGE.RESIDENTS.CREATE.TITLE' | translate }}</h1>

                 <mat-card-actions [align]="'end'">
                    <button
                        mat-button
                        matTooltip="{{ 'PAGE.DWELLING.CREATE.BUTTON.CLOSE.TOOLTIP' | translate }}"
                        (click)="exit()"
                    >
                        {{ 'GENERAL.BUTTON.EXIT_WITHOUT_SAVING' | translate }}
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="{{ 'PAGE.DWELLING.CREATE.BUTTON.SAVE.TOOLTIP' | translate }}"
                        (click)="save()"
                        [disabled]="!this.residentForm || this.residentForm.invalid"
                    >
                        <div>
                            <mat-icon>save</mat-icon>
                            {{ 'GENERAL.BUTTON.SAVE' | translate }}
                        </div>
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="{{ 'PAGE.DWELLING.CREATE.BUTTON.SAVE_AND_CLOSE.TOOLTIP' | translate }}"
                        (click)="saveAndExit()"
                        [disabled]="!this.residentForm || this.residentForm.invalid"
                    >
                        <div>
                            <mat-icon>exit_to_app</mat-icon>
                            {{ 'GENERAL.BUTTON.SAVE_AND_EXIT' | translate }}
                        </div>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
