<mat-card class="table-card">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Tabla">
            <ng-template mat-tab-label>
                <mat-icon>list</mat-icon>
                Viviendas totales
            </ng-template>
            <app-table></app-table>
        </mat-tab>
        <mat-tab label="Alertas">
            <ng-template mat-tab-label>
                <mat-icon>warning</mat-icon>
                Alertas
            </ng-template>
            alertas
        </mat-tab>
    </mat-tab-group>
</mat-card>
