<mat-card>
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Tabla">
            <ng-template mat-tab-label>
                <mat-icon matTooltip="{{ 'PAGE.DWELLING.MANAGER.TAB.DWELLING' | translate }}">list</mat-icon>
                {{ 'PAGE.DWELLING.MANAGER.TAB.DWELLING' | translate }}
            </ng-template>
            <app-table></app-table>
        </mat-tab>
        <mat-tab label="Alertas">
            <ng-template mat-tab-label>
                <mat-icon matTooltip="{{ 'PAGE.DWELLING.MANAGER.TAB.ALERT' | translate }}">warning</mat-icon>
                {{ 'PAGE.DWELLING.MANAGER.TAB.ALERT' | translate }}
            </ng-template>
            <app-alerts></app-alerts>
        </mat-tab>
    </mat-tab-group>
</mat-card>
