<div *ngIf="load" class="buttons-management">
    <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_WATER_METER_CODE.TOOLTIP' | translate }}"
        (click)="openChangeWaterMeter()">
        <div>
            <mat-icon>update</mat-icon>
            {{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_WATER_METER_CODE' | translate }}
        </div>
    </button>
    <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_OWNER.TOOLTIP' | translate }}"
        (click)="goToChangeOwner()">
        <div>
            <mat-icon>hail</mat-icon>
            {{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_OWNER' | translate}}
        </div>
    </button>
    <button mat-raised-button color="primary"
        matTooltip="{{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_RESIDENT.TOOLTIP' | translate }}"
        (click)="goToChangeResident()">
        <div>
            <mat-icon>escalator_warning</mat-icon>
            {{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_RESIDENT' | translate }}
        </div>
    </button>
</div>