@mixin mat-icon($primary, $accent) {
  .mat-icon {
    color: $primary;
  }
  .mat-raised-button {
    .mat-icon {
      color: $accent;
    }
  }
  .mat-icon-button .mat-icon {
    color: $primary !important;
  }
}
