@mixin scrollbar($color, $radius, $size) {
  /* width */
  ::-webkit-scrollbar {
    width: $size;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $radius;
  }
}
