@import '../../../../assets/availa/sizes/margins.scss';
.water-meter {
    display: flex;
    width: 96%;
    margin-top: $margin-small;
    margin-left: $margin-x-medium;
    .detail {
        width: 100%;
    }
}
