@import '../../../../../assets/availa/sizes/margins.scss';
@import '../../../../../assets/availa/sizes/resolutions.scss';

.table-card {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    mat-card-header {
        display: block;
        mat-card-title {
            margin: $margin-x-medium 0 0 0;
            h2 {
                margin: 0;
            }
        }
        .filter {
            margin-left: $margin-x-medium;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                mat-form-field {
                    width: 317px;
                }
            }
        }
    }

    // medias queries
    @media only screen and (max-width: 836px) {
        .priority-1 {
            display: none;
        }
    }

    @media only screen and (max-width: 880px) {
        .priority-3 {
            display: none;
        }

        .filter {
            display: block !important;
            align-items: center !important;
            text-align: center !important;

            mat-form-field {
                width: 100% !important;
            }
            button {
                width: 100% !important;
            }
        }
    }

    @media only screen and (max-width: $resolution-xl-small) {
        .priority-2 {
            display: none;
        }

        .filter {
            display: block !important;
            align-items: center !important;
            text-align: center !important;

            mat-form-field {
                width: 100% !important;
            }
            button {
                width: 100% !important;
            }
        }
    }

    mat-card-content {
        margin: 0px $margin-x-medium 0px $margin-x-medium;
    }
}

.icon-tour {
    cursor: pointer;
    width: 20px;
    float: right;
}
