<mat-card class="table-card">
    <sup>
        <mat-icon class="icon-tour" (click)="tour()" svgIcon="tour" matTooltip="{{'PAGE.TOUR.ICON'|translate}}"></mat-icon>
    </sup>
    <mat-card-header>
        <mat-card-title>
            <h2>
                {{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.TITLE' | translate }}
            </h2>
        </mat-card-title>
        <div class="filter">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.FILTER' | translate }}</mat-label>
                    <input
                        matInput
                        matTooltip="{{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.FILTER.TOOLTIP' | translate }}"
                        matTooltipPosition="right"
                        (keyup)="applyFilter()"
                        [formControl]="filter"
                    />
                    <button
                        matSuffix
                        mat-icon-button
                        matTooltip="{{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.FILTER.BUTTON.TOOLTIP' | translate }}"
                        *ngIf="filter.value.length > 0"
                        (click)="clearFilter()"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div [align]="'end'">
                <button
                    mat-raised-button
                    color="primary"
                    matTooltip="{{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.BUTTON.TOOLTIP' | translate }}"
                    (click)="goToNewSpringSource()"
                    [joyrideStep]="'SpringSourceCreateStep'"
                    [stepContent]="SpringSourceCreate"
                    title="{{ 'PAGE.SPRINGSOURCE.MANAGER.DEMO-TOUR.TITLE' | translate }}"
                >
                    <mat-icon svgIcon="spring_source"></mat-icon>
                    {{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.BUTTON' | translate }}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content
        [joyrideStep]="'SpringSourceFilterStep'"
        [stepContent]="SpringSourceTable"
        title="{{ 'PAGE.SPRINGSOURCE.MANAGER.DEMO-TOUR.TITLE' | translate }}"
    >
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="full_address">
                <th mat-header-cell *matHeaderCellDef>full_address</th>
                <td
                    class="priority-4"
                    mat-cell
                    *matCellDef="let element"
                    matTooltip="{{ 'PAGE.SPRINGSOURCE.MANAGER.TABLE.ROW.ADDRESS' | translate }}"
                >
                    {{ element | SpringSourceDetail }}
                </td>
            </ng-container>

            <tr
                mat-row
                class="table-row"
                (click)="goToSpringSource(row)"
                *matRowDef="let row; columns: displayedColumns"
                [ngClass]="row === isSelected ? 'selected-row' : ''"
            ></tr>
        </table>
    </mat-card-content>

    <mat-card-actions>
        <mat-paginator [pageSize]="pageSide" showFirstLastButtons> </mat-paginator>
    </mat-card-actions>
</mat-card>
<ng-template #SpringSourceCreate>
    {{ 'PAGE.TOUR.SPRINGSOURCE-CREATE' | translate }}
</ng-template>
<ng-template #SpringSourceTable>
    {{ 'PAGE.TOUR.SPRINGSOURCE-TABLE' | translate }}
</ng-template>
