@import '../../../../assets/availa/sizes/page.scss';
@import '../../../../assets/availa/sizes/margins.scss';

.manager-reservoir-page {
    @media only screen and (max-width: 1240px) {
        // nothing to do
        margin-bottom: 180px;
    }
    @media only screen and (min-width: 1240px) {
        // @include my-page();
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 70px;
        ::ng-deep .page-info {
            min-width: 80%;
            margin-left: 3%;
       }
       margin-bottom: $margin-large;
    }
    @media only screen and (min-width: 1467px) {
        @include my-page();
        margin-bottom: $margin-large;
        ::ng-deep .page-info {
            max-width: 50%;
        }
    }
}

.manager-reservoir-page-table {
    @include my-page-column();
    margin-bottom: $margin-x-small;
}
