@import '../../../../assets/availa/sizes/margins.scss';
@import '../../../../assets/availa/sizes/resolutions.scss';

.chart {
  display: block;
  .chart-info {
    text-align: center;
    h3 {
      margin: $margin-small;
    }
  }
  .chart-info {
    text-align: center;
    margin: $margin-x-small;
    h3 {
      margin: 5px;
    }
  }
  .container-chart-info {
    h4 {
      margin: 0px;
    }
    h3 {
      margin: 5px;
    }
  }
}

@media only screen and (max-width: $resolution-xs-medium) {
  .chart {
    justify-content: center;
    display: flex;
    .chart-info {
      text-align: center;
      margin: $margin-x-small;
    }
  }
}

@media only screen and (max-width: 939px) {
  .chart {
    justify-content: center;
    display: flex;
    .chart-info {
      text-align: center;
      margin: $margin-x-small;
    }
  }
}
