<div class="container">
  <main>
    <div>
      <div class="col-md-12 col-lg-12">
        <h4 class="mb-3 text-center">Registrarse</h4>
        <form
          class="needs-validation was-validated"
          novalidate=""
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Se requiere un nombre.</div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
                placeholder=""
                value=""
                required=""
              />
              <div class="invalid-feedback">Se requiere un apellido.</div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Username"
                  formControlName="username"
                  required=""
                />
                <div class="invalid-feedback">Se requiere un username.</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
                formControlName="email"
                required=""
              />
              <div class="invalid-feedback">
                Se requiere un email válido
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Dirección</label>
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Calle Coghlan 1670..."
                required=""
                formControlName="business_name"
              />
              <div class="invalid-feedback">
                Se require una dirección existente.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Cp</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                required=""
              />
              <div class="invalid-feedback">Código postal  required.</div>
            </div>
            <div class="col-md-3">
              <label for="nif" class="form-label">NIF</label>
              <input
                type="text"
                class="form-control"
                id="nif"
                placeholder=""
                required=""
                formControlName="nif"
              />
              <div class="invalid-feedback">NIF requerido.</div>
            </div>
            <div class="col-md-3">
              <label for="phone_number" class="form-label">Télefono</label>
              <input
                type="text"
                class="form-control"
                id="phone_number"
                placeholder=""
                required=""
                formControlName="phone_number"
              />
              <div class="invalid-feedback">Número de teléfono requerido.</div>
            </div>
          </div>

          <hr class="my-4" />

          <h4 class="mb-3">Pagos</h4>

          <div class="my-3">
            <div class="form-check">
              <input
                id="credit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                checked="true"
                required="false"
                formControlName="payment_type"
                name="payment_type"
              />
              <label class="form-check-label" for="credit">Tarjeta de crédito</label>
            </div>
            <div class="form-check">
              <input
                id="debit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required="false"
                formControlName="payment_type"
                name="payment_type"
              />
              <label class="form-check-label" for="debit">Tarjeta de débito</label>
            </div>
            <div class="form-check">
              <input
                id="paypal"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required="false"
                formControlName="payment_type"
                name="payment_type"
              />
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>
          <hr class="my-4" />
          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Registrarse
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

