.example-radio-button {
    margin-left: 7px;
}

mat-grid-tile {
    background: #fafafa;
}

.width-50 {
    width: 49%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.width-100 {
    width: 100%;
}

.width-25 {
    width: 25%;
}