<div style="text-align: center">
  <h1>Register</h1>
</div>
<form
  class="row"
  style="border: 1px solid lightgray; padding: 25px; margin: 15px"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="col-md-6 mb-1">
    <label for="firstName">Nombre</label>
    <input
      type="text"
      formControlName="firstName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
    />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="lastName">Apellido</label>
    <input
      type="text"
      formControlName="lastName"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
    />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="username">Usuario</label>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
    />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="password">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="nif">nif</label>
    <input
      type="nif"
      formControlName="nif"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.nif.errors }"
    />
    <div *ngIf="submitted && f.nif.errors" class="invalid-feedback">
      <div *ngIf="f.nif.errors.required">nif is required</div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="email">email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">email is required</div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="business_name">Comunidad</label>
    <input
      type="text"
      formControlName="business_name"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.business_name.errors }"
    />
    <div *ngIf="submitted && f.business_name.errors" class="invalid-feedback">
      <div *ngIf="f.business_name.errors.required">
        business_name is required
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-1">
    <label for="phone_number">Número de teléfono</label>
    <input
      type="text"
      formControlName="phone_number"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }"
    />
    <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
      <div *ngIf="f.phone_number.errors.required">phone_number is required</div>
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <label for="payment_type">Forma de Pago</label>
    <select class="custom-select" formControlName="payment_type">
      <option value="" disabled>Pago</option>
      <option *ngFor="let type of typePay" [ngValue]="type">
        {{ type.description }}
      </option>
    </select>
  </div>
  <div class="col-md-6 mb-3">
    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <img
      *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
    <a href="/subscription" class="btn btn-link">Cancel</a>
  </div>
</form>
