@import '../../../../assets/availa/sizes/margins.scss';

.chart {
  display: block;

  span {
    align-items: center;
    margin: $margin-x-small 0 0 0;
    h3 {
      margin: 0 0 0 $margin-x-small;
    }
  }
}
