@import '../../../../assets/availa/sizes/margins.scss';

.chart {
    display: block;
    .chart-info {
        text-align: center;
        h3 {
            margin: 0;
        }
    }
}
@media only screen and (max-width: 1450px) {
    .chart {
        justify-content: center;
        display: flex;
    }
}

@media only screen and (max-width: 939px) {
    .chart {
        justify-content: center;
        display: flex;
    }
}
