<div class="form">
  <h1 class="text-center">
    {{ title }}
  </h1>

  <app-notification></app-notification>

  <form class="person-form" [formGroup]="reservoirForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-row">
      <label>Dirección</label>
    </div>

    <div formGroupName="full_address">
      <div class="form-row" formGroupName="address">
        <div class="form-group col-md-4">
          <label for="town">Ciudad : <span style="color: red">*</span></label>
          <input type="text" class="form-control" formControlName="town" placeholder="ciudad" />
        </div>
        <div class="form-group col-md-4">
          <label for="street">Calle : <span style="color: red">*</span></label>
          <input type="text" class="form-control" formControlName="street" placeholder="calle" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="number">Número </label>
          <input type="number" class="form-control" formControlName="number" placeholder="número" />
        </div>
        <div class="form-group col-md-2">
          <label for="flat">Piso</label>
          <input type="number" class="form-control" formControlName="flat" placeholder="piso" />
        </div>
        <div class="form-group col-md-2">
          <label for="gate">Puerta </label>
          <input type="text" class="form-control" formControlName="gate" placeholder="puerta" />
        </div>
      </div>
    </div>

    <div class="form-row">
      <label>Datos del Depósito</label>
    </div>

    <div class="form-row" formGroupName="water_meter">
      <div class="form-group col-md-4">
        <label for="code">Código del contador : <span style="color: red">*</span></label>
        <input type="text" class="form-control" formControlName="code" placeholder="A-0123456789" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="capacity">Capacidad <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="capacity" formControlName="capacity" placeholder="1000L" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inlet_flow">Flujo de entrada </label>
        <input type="text" class="form-control" id="inlet_flow" formControlName="inlet_flow" placeholder="100 m3" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="outlet_flow">Flujo de salida </label>
        <input type="text" class="form-control" id="outlet_flow" formControlName="outlet_flow" placeholder="200 m3" />
      </div>
    </div>
    <br>
    <br>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="reservoirForm.pristine || reservoirForm.invalid">
        Guardar
      </button>
    </div>
  </form>

</div>