.welcome {
}

.welcome .w-title {
  font-size: xx-large;
}

.welcome .w-content {
  max-width: 80%;
}

.subscription-card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-style: italic;
}

.card-subtitle {
  padding: 5%;
  font-size: 200%;
  font-weight: bold;
}

.actions {
  margin-top: 20%;
}

.buy-button {
  width: 50% !important;
  font-size: larger;
}

.log-in-button {
  margin-top: 1%;
  margin-bottom: 1%;
}

// Colors
$green: #7ac142;
$white: #fff;

// Misc
$curve: cubic-bezier(0.65, 0, 0.45, 1);

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $green;
  fill: none;
  animation: stroke 0.6s $curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s $curve 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}
