<div class="welcome col-10 text-center" fxLayout="column" fxLayoutAlign="space-around center " style="margin: 0 auto;">
  <p class="w-title">Pricing</p>
  <p>
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It’s built with default Bootstrap components and
    utilities with little customization.
  </p>
</div>
<hr />
<div class="col-12 row row-cols-1 row-cols-md-4 mb-3 text-center" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div *ngFor="let item of subscriptions; let i = index">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{ item.name }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            ${{ item.price }}<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" (click)="sendUrl(item.id)">
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-10 row row-cols-1 row-cols-md-12 mb-3 text-center " fxLayout="row" fxLayoutAlign="space-around stretch"
  style="margin: 0 auto">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="row" style="width: 4%"></th>
        <th scope="row" *ngFor="let subs of subscriptions" style="width: 14%">
          {{ subs.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perm of permissionColumns; let i = index">
        <th scope="row" class="text-start">
          {{ perm.name }}
        </th>
        <th scope="row" [hidden]="perm.subscriptions.length === 4" *ngFor="let subsc of perm.subscriptions">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="red" class="bi bi-x" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </th>
        <th scope="row" [hidden]="perm.subscriptions.length === 4" *ngFor="let subsc of perm.subscriptions">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="red" class="bi bi-x" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </th>
        <th scope="row" [hidden]="perm.subscriptions.length === 4" *ngFor="let subsc of perm.subscriptions">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="red" class="bi bi-x" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </th>
        <th scope="row" *ngFor="let subsc of perm.subscriptions">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="20" cy="20" r="20" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
          </svg>
        </th>
      </tr>
    </tbody>
  </table>
</div>