<div *ngIf="reservoir; else noReservoir">
    <div class="reservoir-info">
        <div>
            <mat-icon>opacity</mat-icon>
            <h4>{{ 'PAGE.WATERSOURCE.MANAGER.MANAGEMENT.CAPACITY' | translate }}</h4>
            {{ reservoir.capacity | number: '2.' }} L
        </div>
        <div>
            <mat-icon>chevron_right</mat-icon>
            <h4>
                {{ 'PAGE.WATERSOURCE.MANAGER.MANAGEMENT.INLET_FLOW' | translate }}
            </h4>
            {{ reservoir.inlet_flow | number: '2.' }} m<sup>3</sup>
        </div>
        <div>
            <mat-icon>chevron_left</mat-icon>
            <h4>
                {{ 'PAGE.WATERSOURCE.MANAGER.MANAGEMENT.OUTLET_FLOW' | translate }}
            </h4>

            {{ reservoir.outlet_flow | number: '2.' }} m<sup>3</sup>
        </div>
    </div>
</div>
<ng-template #noReservoir>
    <h2>Sin Datos</h2>
</ng-template>
