// FIXME: remove this import
@import "../../../styles.scss";

.active-sidebar {
  margin-left: 0rem !important;
}
.sidebar {
  float: left;
  min-height: 100vh;
  margin-left: -12rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
.sidebar .sidebar-heading {
  padding: 0.5rem 0.5rem 0.3rem 0rem;
  font-size: 1.2rem;
}
.sidebar .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.menu-selected {
  color: $color-primary;
}

.menu-selected:hover {
  color: $color-secondary;
}
