<h1 mat-dialog-title>Nueva Lectura</h1>

<div mat-dialog-content class="create-measure-form">
    <mat-form-field appearance="fill">
        <mat-label>Medida en m<sup>3</sup></mat-label>
        <input matInput placeholder="100.000" [formControl]="measurement" autofocus (keydown.enter)="save()">
        <mat-error *ngIf="measurement.invalid">{{errorValidator('measurement')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="date.invalid">{{errorValidator('date')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Hora</mat-label>
        <mat-select [formControl]="hour">
            <mat-option *ngFor="let h of hoursList" value="{{h}}">{{h}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hour.invalid">{{errorValidator('hour')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Minutos</mat-label>
        <mat-select [formControl]="minutes">
            <mat-option *ngFor="let m of minutesList" value="{{m}}">{{m}}</mat-option>
        </mat-select>
        <mat-error *ngIf="minutes.invalid">{{errorValidator('minutes')}}</mat-error>
    </mat-form-field>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-button matTooltip="No se guardarán los datos" (click)="close(false)">Cerrar sin Guardar</button>
    <button mat-raised-button matTooltip="Guardar datos y cerrar pantalla" color="primary" (click)="save()"
        disabled="{{this.measureForm.invalid}}">
        Guardar
    </button>
</div>