<mat-card class="table-card">
    <mat-card-header>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>{{ "DWELLINGS.TABLE.FILTER.TEXT" | translate}}</mat-label>
                <input matInput matTooltip="{{ 'DWELLINGS.TABLE.FILTER.TOOLTIP' | translate }}"
                    matTooltipPosition="right" (keyup)="applyFilter()" [formControl]="filter">
                <button matSuffix mat-icon-button matTooltip="{{ 'DWELLINGS.TABLE.FILTER.BUTTON.TOOLTIP' | translate }}"
                    *ngIf="filter.value.length > 0" (click)="clearFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div [align]="'end'">
            <button mat-raised-button color="primary" matTooltip="{{ 'DWELLINGS.TABLE.BUTTON.TOOLTIP' | translate }}"
                (click)="goToNewDwelling()">
                <mat-icon color="accent">add_business</mat-icon>
                {{ 'DWELLINGS.TABLE.BUTTON.TEXT' | translate }}
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource">
            <!-- water_ meter -->
            <ng-container matColumnDef="water_meter_code">
                <th mat-header-cell *matHeaderCellDef>water_meter_code</th>
                <td mat-cell *matCellDef="let element">{{element.water_meter_code}}</td>
            </ng-container>

            <!-- full_address -->
            <ng-container matColumnDef="full_address">
                <th mat-header-cell *matHeaderCellDef>full_address</th>
                <td mat-cell *matCellDef="let element">{{element | dwellingDetail }}</td>
            </ng-container>

            <!-- water_ meter -->
            <ng-container matColumnDef="resident_first_name">
                <th mat-header-cell *matHeaderCellDef>resident_first_name</th>
                <td mat-cell *matCellDef="let element">{{element.resident_first_name}}</td>
            </ng-container>
            <!-- water_ meter -->
            <ng-container matColumnDef="resident_phone">
                <th mat-header-cell *matHeaderCellDef>resident_phone</th>
                <td mat-cell *matCellDef="let element">{{element.resident_phone}}</td>
            </ng-container>
            <tr mat-row class="table-row" matTooltip="{{ 'DWELLINGS.TABLE.TOOLTIP' | translate }}"
                (click)="selectElement(row)" *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="row === isSelected ? 'selected-row' : ''">
            </tr>

        </table>

    </mat-card-content>

</mat-card>