<mat-drawer-container class="sidebar">
  <mat-drawer mode="side" opened>
    <div class="sidebar-content">
      <mat-card class="mat-elevation-z0">
        <mat-card-title>
          <h1>AGUBE</h1>
        </mat-card-title>
        <mat-card-content *ngIf="user">
          <div mat-card-avatar class="example-header-image"></div>
          <p>{{ user | userDetail }}</p>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="warn" (click)="closeSession()">
            {{ 'PAGE.HOME.SIDEBAR.BUTTON.CLOSE' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let page of pages" [value]="page" (click)="selectPage(page)">
          <mat-icon mat-list-icon>{{ page.icon }}</mat-icon>
          <div mat-line>{{ page.title | translate }}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="page-content">
    <div class="theme-button">
      <mat-icon matTooltip="{{ 'APP.THEME.LIGHT' | translate }}" color="warn">light_mode</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" matTooltip="{{ 'APP.THEME.CHANGE' | translate }}">
      </mat-slide-toggle>
      <mat-icon matTooltip="{{ 'APP.THEME.DARK' | translate }}">dark_mode</mat-icon>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
