<div *ngIf="loading; else noDwelling">
    <div class="title">
        <h1>{{ 'PAGE.DWELLING.CLIENT.TITLE' | translate }}</h1>
    </div>
    <div class="dwelling-detail">
        <span *ngFor="let dwelling of dwellings">
            <app-card-button [dwelling]="dwelling" [dwellingPath]="dwellingPath"></app-card-button>
        </span>
    </div>
</div>
<ng-template #noDwelling>
    <div class="no-dwelling">
        <div class="no-dwelling-text">
            <h2>
                {{ 'PAGE.DWELLING.CLIENT.NO_DWELLING.TEXT' | translate }}
            </h2>
            <mat-icon class="alert-no-dwelling">assignment_late</mat-icon>
        </div>
        <div *ngIf="userIsManager">
            <button mat-raised-button color="primary"
                matTooltip="{{ 'PAGE.DWELLING.CLIENT.NO_DWELLING.BUTTON.TOOLTIP' | translate }}"
                (click)="goToNewDwelling()">
                <mat-icon svgIcon="house"></mat-icon>
                {{ 'PAGE.DWELLING.CLIENT.NO_DWELLING.BUTTON' | translate }}
            </button>
        </div>
    </div>
</ng-template>