$light-primary-text: #7fd3f7;
// $light-secondary-text: rgba(white, 0.7);
// $light-disabled-text: rgba(white, 0.5);
// $light-dividers: rgba(white, 0.12);
// $light-focused: rgba(white, 0.12);

$dark-primary-text: #485459;
// $dark-secondary-text: rgba(black, 0.54);
// $dark-disabled-text: rgba(black, 0.38);
// $dark-dividers: rgba(black, 0.12);
// $dark-focused: rgba(black, 0.12);

$overflow-primary-text: #ff5f5f;

$no-overflow-primary-text: #009500d1;
