@use './colors.scss' as color;

$primary-palette: (
  50: #eeeeee,
  100: #d4d4d4,
  200: #b5b9bb,
  300: #939ea3,
  400: #7b8a90,
  500: #63767f,
  600: #57686e,
  700: #485459,
  800: #3a4144,
  900: #282c2e,
  success: #2ecc71,
  contrast: (
    50: color.$dark-primary-text,
    100: color.$dark-primary-text,
    200: color.$dark-primary-text,
    300: color.$light-primary-text,
    400: color.$light-primary-text,
    500: color.$light-primary-text,
    600: color.$light-primary-text,
    700: color.$light-primary-text,
    800: color.$light-primary-text,
    900: color.$light-primary-text,
    A100: color.$light-primary-text,
    A200: color.$light-primary-text,
    A400: color.$light-primary-text,
    A700: color.$light-primary-text,
  ),
);
