$warning-palette: (
  50: #fdf7df,
  100: #faeaaf,
  200: #f6dc7b,
  300: #f3d044,
  400: #f1c40f,
  500: #f0ba00,
  600: #f0ac00,
  700: #f19900,
  800: #f28800,
  900: #f26800,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
