@import '../../../../../assets/availa/sizes/margins.scss';
@import '../../../../../assets/availa/sizes/resolutions.scss';

.table-card {
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  mat-card-header {
    display: block;
    mat-card-title {
      margin: $margin-x-medium 0 0 0;
      h2 {
        margin: 0;
      }
    }
    .filter {
      margin-left: $margin-x-medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        mat-slide-toggle {
          margin-right: 10px;
        }
        mat-form-field {
          width: 317px;
        }
      }
    }
  }

  table {
    tr,
    td {
      padding-right: $margin-x-small;
      div {
        display: flex;
        justify-content: space-between;
        span {
          margin-top: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: $resolution-m-small) {
    .priority-1 {
      display: none;
    }

    .priority-3 {
      display: none;
    }
    mat-slide-toggle {
      width: 40%;
    }
    mat-form-field {
      width: 100% !important;
    }
    button {
      width: 60% !important;
    }
  }

  @media only screen and (max-width: $resolution-s-small) {
    .priority-1 {
      display: none;
    }

    .priority-4 {
      display: none;
    }

    .filter {
      display: block !important;
      align-items: center !important;
      text-align: center !important;
      div {
        display: flex;
      }
      mat-form-field {
        width: 100% !important;
      }
      button {
        width: 60% !important;
      }
    }
  }

  @media only screen and (max-width: $resolution-xl-small) {
    .priority-1 {
      display: none;
    }
    mat-slide-toggle {
      width: 40%;
    }

    .filter {
      display: block !important;
      align-items: center !important;
      text-align: center !important;
      mat-slide-toggle {
        width: 40%;
      }
      div {
        display: flex;
      }
      mat-form-field {
        width: 100% !important;
      }
      button {
        width: 60% !important;
      }
    }
  }

  mat-card-content {
    margin: 0px $margin-x-medium 0px $margin-x-medium;
  }
  .overflow {
    color: #ff5f5f;
    margin-left: 5px;
  }

  .no-overflow {
    color: #009500d1;
    margin-left: 5px;
  }
  .color-data-empty {
    color: #ffffffb3;
  }
  .container-consumption {
    width: 70px;
    margin-left: $margin-x-small;
  }
  .container-consumption-data {
    justify-content: center !important;
    display: flex !important;
  }
}

.icon-tour {
  cursor: pointer;
  width: 20px;
  float: right;
}
