<div class="create-person-page" *ngIf="dwelling">
    <mat-card class="create-person-page-card">
        <mat-card-content>
            <div class="form">
                <h1>{{dwelling.full_address| fullAddress}}</h1>
                <div *ngIf="currentPerson; else change">
                    <h2>{{"PERSON.CHANGE.TITLE_1" | translate }} {{title | translate}}</h2>
                    <p>
                        {{"PERSON.CHANGE.SUBTITLE_1" | translate }} {{title | translate}} {{"PERSON.CHANGE.SUBTITLE_2" |
                        translate}}
                        <strong>{{currentPerson | userDetail}}</strong> {{"PERSON.CHANGE.SUBTITLE_3" | translate }}
                    </p>
                </div>
                <ng-template #change>
                    <h2>{{"PERSON.CHANGE.TITLE_2" | translate }} {{title | translate}}</h2>
                </ng-template>
                <div class="form-content">
                    <div>
                        <p>
                            {{"PERSON.CHANGE.FORM.DATA.TITLE" | translate}}
                        </p>
                        <mat-form-field appearance="fill">
                            <mat-label>{{"PERSON.CHANGE.FORM.DATA.FIRST_NAME.TEXT" | translate}}</mat-label>
                            <input matInput placeholder="Tony" [formControl]="first_name" (keydown.enter)="save()" />
                            <mat-error *ngIf="first_name.invalid">{{errorValidator('first_name') | translate}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>{{"PERSON.CHANGE.FORM.DATA.LAST_NAME.TEXT" | translate}}</mat-label>
                            <input matInput placeholder="Stark" [formControl]="last_name" (keydown.enter)="save()" />
                            <mat-error *ngIf="last_name.invalid">{{errorValidator('last_name') | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <p>
                            {{"PERSON.CHANGE.FORM.CONTACT_INFO.TITLE" | translate}}
                        </p>
                        <mat-form-field appearance="fill">
                            <mat-label>{{"PERSON.CHANGE.FORM.CONTACT_INFO.EMAIL.TEXT" | translate}}</mat-label>
                            <input matInput placeholder="stark@industries.com" [formControl]="email"
                                (keydown.enter)="save()" />
                            <mat-error *ngIf="email.invalid">{{errorValidator('email') | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>{{"PERSON.CHANGE.FORM.CONTACT_INFO.CONTACT_PHONE.TEXT" | translate}}</mat-label>
                            <input matInput [formControl]="phone_number" (keydown.enter)="save()" />
                            <mat-error *ngIf="phone_number.invalid">{{errorValidator('phone_number') | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div>
                        <p>
                            Dirección adicional
                        </p>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Ciudad</mat-label>
                                <input matInput placeholder="Sofía" [formControl]="town" (keydown.enter)="save()" />
                                <mat-error *ngIf="town.invalid">{{errorValidator('town')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Calle</mat-label>
                                <input matInput placeholder="Anthony Edward Stark Street" [formControl]="street"
                                    (keydown.enter)="save()" />
                                <mat-error *ngIf="street.invalid">{{errorValidator('street')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Nº</mat-label>
                                <input matInput placeholder="IV" [formControl]="number" (keydown.enter)="save()" />
                                <mat-error *ngIf="number.invalid">{{errorValidator('number')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Piso</mat-label>
                                <input matInput placeholder="3" [formControl]="flat" (keydown.enter)="save()" />
                                <mat-error *ngIf="flat.invalid">{{errorValidator('flat')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Puerta</mat-label>
                                <input matInput placeholder="A" [formControl]="gate" (keydown.enter)="save()" />
                                <mat-error *ngIf="gate.invalid">{{errorValidator('gate')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div> -->
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="loadingPost"></mat-progress-bar>
                <mat-card-actions [align]="'end'">
                    <button mat-button
                        matTooltip="{{'PERSON.CHANGE.FORM.BUTTONS.CLOSE.TOOLTIP' | translate}} {{title | translate}}"
                        (click)="exit()">
                        {{"PERSON.CHANGE.FORM.BUTTONS.CLOSE.TEXT" | translate}}
                    </button>
                    <button mat-raised-button color="primary"
                        matTooltip="{{'PERSON.CHANGE.FORM.BUTTONS.SAVE.TOOLTIP' | translate}} {{title | translate}}"
                        (click)="save()" [disabled]="this.personForm.invalid">
                        <div>
                            <mat-icon>save</mat-icon>
                            {{"PERSON.CHANGE.FORM.BUTTONS.SAVE.TEXT" | translate}}
                        </div>
                    </button>
                    <button mat-raised-button color="primary" matTooltip="{{'PERSON.CHANGE.FORM.BUTTONS.SAVE.TOOLTIP' | translate}} {{title  | translate}}
                        {{'PERSON.CHANGE.FORM.BUTTONS.SAVE_AND_CLOSE.TOOLTIP' | translate}}" (click)="saveAndExit()"
                        [disabled]="this.personForm.invalid">
                        <div>
                            <mat-icon>exit_to_app</mat-icon>
                            {{"PERSON.CHANGE.FORM.BUTTONS.SAVE_AND_CLOSE.TEXT" | translate}}
                        </div>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>