<div class="selector-geolocation-map">
    <div class="address-form-geolocation">
        <mat-form-field appearance="standard">
            <mat-label>{{ 'COMPONENTS.MAP.CREATE.FILTER.TEXT' | translate }}</mat-label>
            <input
                matInput
                type="text"
                matTooltip="{{ 'COMPONENTS.MAP.CREATE.FILTER.TOOLTIP' | translate }}"
                (keyup.enter)="filtering()"
                [formControl]="filter"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of autocomplete" (click)="selectOptionFilter(option)">
                    {{ option | address }}
                </mat-option>
            </mat-autocomplete>
            <button
                matSuffix
                mat-icon-button
                *ngIf="filter.value"
                matTooltip="{{ 'COMPONENTS.MAP.CREATE.FILTER.BUTTON.GO.TOOLTIP' | translate }}"
                (click)="filtering()"
            >
                <mat-icon>gps_fixed</mat-icon>
            </button>
            <button
                matSuffix
                mat-icon-button
                *ngIf="filter.value"
                matTooltip="{{ 'COMPONENTS.MAP.CREATE.FILTER.BUTTON.CLEAR.TOOLTIP' | translate }}"
                (click)="clearFilter()"
            >
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="filter.invalid">{{ errorValidator('filter') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="street">
            <mat-label>{{ 'COMPONENTS.MAP.CREATE.FORM.STREET.TEXT' | translate }}</mat-label>
            <input matInput type="text" [formControl]="street" />
            <mat-error *ngIf="street.invalid">{{ errorValidator('street') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="number">
            <mat-label>{{ 'COMPONENTS.MAP.CREATE.FORM.NUMBER.TEXT' | translate }}</mat-label>
            <input matInput type="text" [formControl]="number" />
            <mat-error *ngIf="number.invalid">{{ errorValidator('number') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="flat">
            <mat-label>{{ 'COMPONENTS.MAP.CREATE.FORM.FLAT.TEXT' | translate }}</mat-label>
            <input matInput type="text" [formControl]="flat" />
            <mat-error *ngIf="flat.invalid">{{ errorValidator('flat') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="gate">
            <mat-label>{{ 'COMPONENTS.MAP.CREATE.FORM.GATE.TEXT' | translate }}</mat-label>
            <input matInput type="text" [formControl]="gate" />
            <mat-error *ngIf="gate.invalid">{{ errorValidator('gate') | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="filter-results">
        <span class="filter-selection" *ngIf="!loadingCandidates; else isloadingCandidates">
            <mat-selection-list [multiple]="false">
                <mat-list-option
                    matTooltip="{{ 'COMPONENTS.MAP.CREATE.OPTIONS.TEXT' | translate }}"
                    *ngFor="let candidate of addressCandidates"
                    (click)="selectCandidate(candidate)"
                    (mouseout)="mouseIsOut()"
                    (mouseover)="mouseIsOver(candidate)"
                >
                    <div>
                        <mat-icon>place</mat-icon>
                        {{ candidate.display_name | slice: 0:100 }}
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </span>
        <ng-template #isloadingCandidates>
            <mat-spinner></mat-spinner>
        </ng-template>
        <div
            id='map'
            [ngStyle]="{ height: configureMap?.height }"
            matTooltip="{{ 'COMPONENTS.MAP.CREATE.MAP.TOOLTIP' | translate }}"
            matTooltipPosition="left"
            [matTooltipDisabled]="filter.invalid"
        ></div>
    </div>
</div>
