@import '../../../../assets/availa/sizes/margins.scss';

.selector-geolocation-map {
    width: 100%;
    overflow: hidden;
    .address-form-geolocation {
        display: flex;
        margin-bottom: 20px;
        mat-form-field:first-child {
            width: 60%;
        }
    }
    .address-form {
        margin-bottom: 20px;
        padding: 0px;
    }
    .filter-results {
        display: flex;
        .filter-selection {
            width: 100%;
            mat-selection-list {
                width: 100%;
                mat-list-option {
                    div {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        div {
            width: 100%;
        }
    }
}
