@import '../../../../../assets/availa/sizes/margins.scss';

.table-card {
  max-width: 100%;
  height: 100%;
  mat-card-header {
    display: block;
    mat-card-title {
      margin: $margin-x-medium 0 0 0;
      h2 {
        margin: 0;
      }
    }
    .filter {
      margin-left: $margin-x-medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        mat-form-field {
          width: 160%;
        }
      }
    }
  }
  mat-card-content {
    margin: 0px $margin-x-medium $margin-x-medium $margin-x-medium;
  }
}
