<div class="table-card table-config">
  <app-notification></app-notification>
  <h4>{{ titleFormWaterMeter }}</h4>
  <form
    [formGroup]="waterMeterFormGroup"
    (ngSubmit)="(onSubmit)"
    class="border-forms"
  >
    <div class="row margin-adaptation-generic">
      <div class="col-sm-5">
        <label for="waterMeter">Cód.Contador</label>
        <input
          type="number"
          formControlName="waterMeter"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.waterMeter.errors }"
          [(ngModel)]="waterMeterCode"
        />
        <div *ngIf="submitted && f.waterMeter.errors" class="invalid-feedback">
          <div *ngIf="f.waterMeter.errors.required">
            Se requiere un Código de contador
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <button
          class="btn btn-primary w-100 h-50 margin-buttons-forms"
          type="button"
          (click)="onSubmit()"
        >
          {{ titleFormWaterMeter }}
        </button>
      </div>
    </div>
  </form>
</div>
