<div class="form">
    <h1>{{ 'PAGE.CONFIG.CLIENT.PASSWORD.TITLE' | translate }}</h1>
    <div class="form-content">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'PAGE.CONFIG.CLIENT.PASSWORD.FORM.USERNAME' | translate }}</mat-label>
            <input matInput placeholder="ironman" [formControl]="username" (keydown.enter)="savePassword()" />
            <mat-error *ngIf="username.invalid">{{ errorValidator('username') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'PAGE.CONFIG.CLIENT.PASSWORD.TITLE' | translate }}</mat-label>
            <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                [formControl]="password"
                (keydown.enter)="savePassword()"
                (keypress)="enableConfirmPassword($event)"
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
            >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{ errorValidator('password') | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'PAGE.CONFIG.CLIENT.PASSWORD.FORM.CONFIRM_PASSWORD' | translate }}</mat-label>
            <input
                matInput
                [type]="hideConfirmPassword ? 'password' : 'text'"
                [formControl]="confirmPassword"
                (keydown.enter)="savePassword()"
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-pressed]="hideConfirmPassword"
            >
                <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="confirmPassword.invalid">{{ errorValidator('confirmPassword') | translate }}</mat-error>
        </mat-form-field>
    </div>
    <mat-progress-bar *ngIf="loadSave" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions [align]="'end'">
        <button
            mat-raised-button
            color="primary"
            matTooltip="{{ 'PAGE.CONFIG.CLIENT.PASSWORD.FORM.BUTTON.SAVE' | translate }}"
            (click)="savePassword()"
            [disabled]="passwordForm.invalid"
        >
            <div>
                <mat-icon>save</mat-icon>
                {{ 'GENERAL.BUTTON.SAVE' | translate }}
            </div>
        </button>
    </mat-card-actions>
</div>
