$radius:10px;
$border:0px;

$radius-small:5px;

@mixin rounded-small {
  border-radius: $radius-small;
  border: $border solid ;
}

@mixin rounded {
  border-radius: $radius;
  border: $border solid ;
}
