@use "./paddings";
@use "./borders";

@mixin set-btn-primary($color: $color-primary) {
  background-color: $color;
  @include rounded-small;
}

.btn-primary,
.btn-primary:active {
  @include set-btn-primary();
}
.btn-primary:hover {
  @include set-btn-primary($color-secondary);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  @include set-btn-primary();
}

.btn-primary.disabled,
.btn-primary:disabled {
  @include set-btn-primary();
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $color-primary;
}

.btn-secondary,
.btn-secondary:active {
  @include set-btn-primary($color-secondary);
}
.btn-secondary:hover {
  @include set-btn-primary($color-terciary);
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  @include set-btn-primary($color-secondary);
}
.btn-secondary:focus {
  @include set-btn-primary($color-secondary);
}

.btn-danger,
.btn-danger:active {
  @include set-btn-primary($color-cuaternary);
}
.btn-danger:hover {
  @include set-btn-primary($color-terciary);
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active {
  @include set-btn-primary($color-cuaternary);
}
.btn-danger:focus {
  @include set-btn-primary($color-cuaternary);
}

button {
  @include set-btn-primary();
  color: $color-white;
  padding: paddings.$padding-x-small;
}
