$height-x-small: 150px;
$width-x-small: 150px;

$height-small: 550px;
$width-small: 550px;

$height-medium: 550px;
$width-medium: 550px;

$height-large: 550px;
$width-large: 550px;

$height-extra-large: 550px;
$width-extra-large: 550px;
