$height-x-small: 150px;
$width-x-small: 150px;

$height-small: 200px;
$width-small: 200px;

$height-medium: 90%;
$width-medium: 65%;


$height-x-medium: 50%;
$width-x-medium: 50%;

$height-large: 550px;
$width-large: 550px;

$height-x-large: 570px;
$width-x-large: 570px;

$height-extra-large: 550px;
$width-extra-large: 550px;
