@import '../../../../assets/availa/sizes/margins.scss';
@import '../../../../assets/availa/sizes/page.scss';

.create-waterSource-page {
    @include my-page(1);
}

.create-waterSource-page-card {
    @include my-page-column(1, 1);
}

.form {
    padding: $margin-x-medium;
    .form-content {
        margin: $margin-x-small;
        .form-waterSource {
            display: flex;
            justify-content: end;
            margin-top: $margin-x-small;
            @media only screen and (max-width: 1240px) {
                justify-content: space-between;
            }
            @media only screen and (min-width: 1240px) {
                justify-content: end;
                mat-form-field {
                    margin-left: $margin-x-small;
                }
            }
        }
        mat-form-field {
            display: flex;
            justify-content: end;
            margin-bottom: $margin-x-small;
        }
    }
    mat-card-actions {
        margin-right: $margin-x-small;
        button {
            div {
                height: 100%;
                display: flex;
                align-items: center;
                mat-icon {
                    margin-right: $margin-x-small;
                }
            }
        }
    }
}
