<div class="create-waterSource-page">
    <mat-card class="create-waterSource-page-card">
        <mat-card-content>
            <div class="form">
                <h1>{{ 'PAGE.WATERSOURCE.CREATE.TITLE' | translate }}</h1>
                <div class="form-content">
                    <app-map-location-create (addressForm)="addressFormReceive($event)"
                        [baseConfiguration]="configureMap" [addressInputForm]="addressInputForm"
                        [resetForm]="resetChildForm">
                    </app-map-location-create>

                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="loadingPost"></mat-progress-bar>
                <mat-card-actions [align]="'end'" *ngIf="addressEmitter?.userHasMapClicked">
                    <button mat-button matTooltip="{{ 'PAGE.DWELLING.CREATE.BUTTON.CLOSE.TOOLTIP' | translate }}"
                        (click)="exit()">
                        {{ 'GENERAL.BUTTON.EXIT_WITHOUT_SAVING' | translate }}
                    </button>
                    <button mat-raised-button color="primary"
                        matTooltip="{{ 'PAGE.WATERSOURCE.CREATE.BUTTON.SAVE.TOOLTIP' | translate }}" (click)="save()"
                        [disabled]="!this.waterSourceForm || this.waterSourceForm.invalid">
                        <div>
                            <mat-icon>save</mat-icon>
                            {{ 'PAGE.WATERSOURCE.CREATE.BUTTON.SAVE.TEXT' | translate }}
                        </div>
                    </button>
                    <button mat-raised-button color="primary"
                        matTooltip="{{ 'PAGE.WATERSOURCE.CREATE.BUTTON.SAVE.SAVE_EXIT.TOOLTIP' | translate }}"
                        (click)="saveAndExit()" [disabled]="!this.waterSourceForm || this.waterSourceForm.invalid">
                        <div>
                            <mat-icon>exit_to_app</mat-icon>
                            {{ 'PAGE.WATERSOURCE.CREATE.BUTTON.SAVE.SAVE_AND_EXIT' | translate }}
                        </div>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>