<div class="chart" *ngIf="googleChartConfigure">
  <!-- <div class="chart-content"> -->
  <div id="{{googleChartConfigure.id}}"></div>
  <div class="water-meter-info-chart">
    <span>
      Código:
      <h3>
        {{googleChartConfigure.water_meter.code}}
      </h3>
    </span>
    <span>
      Fecha de alta:
      <h3>
        {{googleChartConfigure.water_meter.release_date | date:'dd/MM/yyyy HH:ss'}}
      </h3>
    </span>
    <span>
      Fecha de baja:
      <h3> {{googleChartConfigure.water_meter.discharge_date| date:'dd/MM/yyyy HH:ss' }}</h3>
    </span>
    <span>
      Máx. Consumo Diario:
      <h3> {{googleChartConfigure!.consumeToday!.max_daily_consumption }}</h3>
    </span>

  </div>
  <!-- </div> -->
</div>
