<table class="table">
    <thead>
        <tr>
            <th scope="col">Negocio</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contactsTotal">
            <td>{{ contact.business }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>{{ contact.user.email }}</td>
            <td>{{ contact.user.first_name }}</td>
            <td>{{ contact.user.last_name }}</td>
            <td>{{ contact.user.username }}</td>
            <td><button mat-button (click)="editDialog(contact)">Editar</button></td>

        </tr>
    </tbody>
</table>

<button mat-button (click)="newDiaglog()">Agregar</button>
