<mat-card>
    <mat-card-title>{{ clientDetails.name }}</mat-card-title>
    <mat-card-subtitle>Datos de la comunidad</mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <span> <strong>NIF: </strong> {{ clientDetails.nif }} </span>
            </mat-list-item>
            <mat-list-item>
                <span>
          <strong>Fecha Alta: </strong> {{ clientDetails.subscription_date | date: 'dd-MM-yyyy' }}
        </span>
            </mat-list-item>
            <mat-list-item>
                <span> <strong>Dirección: </strong> {{ clientDetails.address }} </span>
            </mat-list-item>
            <mat-list-item>
                <span>
                    <strong>Plan: </strong> {{ clientDetails.plan }}
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
