<div class="col-md-6">
  <div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>{{ clientDetails.name }}</h2>
    <h3>Datos de la comunidad</h3>
    <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
    <button class="btn btn-outline-light" type="button">Example button</button>
  </div>
</div>
<mat-card>
    <mat-card-title>{{ clientDetails.name }}</mat-card-title>
    <mat-card-subtitle>Datos de la comunidad</mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <span> <strong>NIF: </strong> {{ clientDetails.nif }} </span>
            </mat-list-item>
            <mat-list-item>
                <span>
          <strong>Fecha Alta: </strong> {{ clientDetails.subscription_date | date: 'dd-MM-yyyy' }}
        </span>
            </mat-list-item>
            <mat-list-item>
                <span> <strong>Dirección: </strong> {{ clientDetails.address }} </span>
            </mat-list-item>
            <mat-list-item>
                <span>
                    <strong>Plan: </strong> {{ clientDetails.plan }}
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
