<div class="detail-info" *ngIf="address">
  <span>
    Coordenadas: <h3>{{address | address:'geolocation' }}</h3>
  </span>
  <span>
    Pais: <h3>{{address.country}}</h3>
  </span>
  <span>
    Comunidad: <h3>{{address.state}}</h3>
  </span>
  <span>
    Provincia: <h3>{{address.province}}</h3>
  </span>
  <span>
    Ciudad: <h3>{{address.city}}</h3>
  </span>
  <span>
    Pueblo: <h3>{{address.village}}</h3>
  </span>
  <span>
    Municipio: <h3>{{address.municipality}}</h3>
  </span>
  <span>
    Barrio: <h3>{{address.city_district}}</h3>
  </span>
  <span>
    Código Postal: <h3>{{address.postcode}}</h3>
  </span>
  <span>
    Calle: <h3>{{address | address:'short'}}</h3>
  </span>


</div>
