@import '../../../../assets/availa/sizes/margins.scss';
.water-meter {
    display: flex;
    width: 100%;
    .table {
        width: 100%;
        max-width: 100%;
        height: 300px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .selector-and-filter {
                display: flex;
                width: 100%;
                .selector {
                    margin-right: $margin-x-medium;
                    width: 12% !important;
                }
                .filter {
                    width: 30%;
                }
            }
        }
        .scroll {
            height: 65%;
            overflow: auto;
        }
    }
}

.overflow {
    color: #ff5f5f;
}

.no-overflow {
    color: #009500d1;
}
