<div class="water-meter-header">
  <mat-form-field appearance="standard">
    <mat-label>m<sup>3</sup>, {{"WATER_METER.HEADER.FILTER.TEXT" | translate}}</mat-label>
    <input matInput matTooltip="{{'WATER_METER.HEADER.FILTER.TOOLTIP' | translate}}" matTooltipPosition="right"
      (keyup)="applyFilter()" [formControl]="filter">
    <button matSuffix mat-icon-button matTooltip="{{'WATER_METER.HEADER.FILTER.BUTTON_TOOLTIP' | translate}}"
      *ngIf="filter.value.length > 0" (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" matTooltip="{{'WATER_METER.HEADER.BUTTON.TOOLTIP' | translate}}"
      (click)="openMeasureDialog()" disabled="{{!this.waterMeterId}}">
      <mat-icon>alarm_add</mat-icon>
      {{"WATER_METER.HEADER.BUTTON.TEXT" | translate}}
    </button>
  </div>
</div>


<table mat-table [dataSource]="dataSource">

  <!-- measurement Column -->
  <ng-container matColumnDef="measurement">
    <th mat-header-cell *matHeaderCellDef> measurement</th>
    <td mat-cell *matCellDef="let element">
      {{element.measurement}}
      <span matSuffix>m<sup>3</sup></span>
    </td>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'longDate'}} {{element.date | date:'shortTime'}}
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
