<div class="card card-component-reservoir" *ngIf="reservoir">
  <div>
    <div class="card-body">
      <h1>
        {{ reservoir.full_address | fullAddress }}
      </h1>
    </div>
  </div>
  <div>
    <app-water-mater-detail-card [reservoirId]="reservoirId">
    </app-water-mater-detail-card>
    <app-reservoir-management-detail-card
      [reservoirId]="reservoirId"
    ></app-reservoir-management-detail-card>
  </div>
  <br />
  <div>
    <app-reservoir-water-meter-readings-detail-card [reservoirId]="reservoirId" >
    </app-reservoir-water-meter-readings-detail-card>
  </div>
</div>
