<div *ngIf="reservoir != undefined">
  <div>
    <div >
      <div ><strong>Dirección</strong></div>
      <div >
        <p >
          {{ reservoir.flat }} {{ reservoir.gate }} - {{ reservoir.street }} -{{
            reservoir.number
          }}
          -
          {{ reservoir.town }}
        </p>
      </div>
    </div>
  </div>
  <br />
  <div >
    <div >
      <app-reservoir-management-detail-card
        [reservoir]="reservoir"
        [waterMeter]="sendWaterMeterCode"
      ></app-reservoir-management-detail-card>
    </div>
  </div>
</div>
