<div class="col-12 form-group">
  <input type="text" class="form-control" placeholder="Buscador" [(ngModel)]="data"
    style="float: left; width: 50%; align-items: center; margin-bottom: 20px" />

  <button class="btn btn-outline-primary float-right" (click)="addNewReservoir()">
    Agregar Depósitos
  </button>
</div>

<div class="container">
  <table mdbTable #tableEl="mdbTable" mdbTable class="z-depth-1">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col"
          [mdbTableSort]="dataSource" [sortBy]="headElementsRead[i]" style="background-color: #d0d1d4b8">
          <strong> {{ head | titlecase }}</strong>
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody class="clickable-row table" *ngFor="let el of dataSource | filter: data; let i = index"
      [ngClass]="{ 'selected-row': el.id === selectedRowIndex }" (click)="selectRow(el)">
      <tr>
        <th *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          " scope="row">
          {{ el.flat }} {{ el.gate }} {{ el.number }} {{ el.street }}
          {{ el.town }}
        </th>
        <td *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          ">
          {{ el.inlet_flow }}
        </td>
        <td *ngIf="
            i + 1 >= mdbTablePagination.firstItemIndex &&
            i < mdbTablePagination.lastItemIndex
          ">
          {{ el.outlet_flow }}
        </td>
      </tr>
    </tbody>
    <tfoot class="lighten-5 w-100 bg-gray" style="background-color: #d0d1d4b8">
      <tr class="text-center">
        <td colspan="4">
          <mdb-table-pagination style="display: inline-flex; margin: 0 auto; color: blue" [tableEl]="tableEl"
            [searchDataSource]="dataSource"></mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>