
<div [hidden]="!error" class="alert alert-danger" role="alert">
 {{errorMessage}}
</div>
<main style="width: 100%; max-width: 430px; padding: 15px; margin: auto">
  <form [formGroup]="loginForm" >
    <div class="text-center">
      <img
        class="mb-4"
        src="https://avatars.slack-edge.com/2020-10-13/1409854645591_0387c36ecf7c102cc07b_230.png"
        alt=""
        width="72"
        height="57"
      />
    </div>
       <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            formControlName="password1"
            class="form-control"
          />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        formControlName="password2"
        class="form-control"
        (keyup.enter)="onSubmit()"
      />
      <label class="form-label" for="form2Example2">Confirm Password</label>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      (click)="onSubmit()"
    >
      Change password
    </button>

  </form>
</main>
