<div class="detail-info" *ngIf="userDetail; else noUser">
  <span>
    <mat-icon>{{title.icon}}</mat-icon>
    <h2>{{title.title |translate}}</h2>
  </span>
  <span>
    {{'DWELLING_DETAIL.DETAIL_INFO.USER.FIRST_NAME'| translate}}
    <h3>
      {{userDetail.first_name }}
    </h3>
  </span>
  <span>
    {{'DWELLING_DETAIL.DETAIL_INFO.USER.LAST_NAME'| translate}}
    <h3>
      {{userDetail.last_name }}
    </h3>
  </span>
  <span>
    {{'DWELLING_DETAIL.DETAIL_INFO.USER.EMAIL'| translate}}
    <h3>
      {{userDetail.email }}
    </h3>
  </span>
  <span>
    {{'DWELLING_DETAIL.DETAIL_INFO.USER.PHONE_NUMBER'| translate}}
    <h3>
      {{userDetail.main_phone.phone_number }}
    </h3>
  </span>
</div>
<ng-template #noUser>
  <h2>Sin {{title}}</h2>
</ng-template>
