<div class="detail-content-all">
    <div class="detail-info" *ngIf="userDetail; else noUser">
        <span>
            <mat-icon>{{ title.icon }}</mat-icon>
            <h2>{{ title.title | translate }}</h2>
        </span>
        <span>
            <h4>{{ 'GENERAL.TEXT.FIRST_NAME' | translate }}</h4>
            {{ userDetail.first_name | titlecase }}
        </span>
        <span>
            <h4>{{ 'GENERAL.TEXT.LAST_NAME' | translate }}</h4>
            {{ userDetail.last_name | titlecase }}
        </span>
        <span>
            <h4>{{ 'GENERAL.TEXT.EMAIL' | translate }}</h4>
            {{ userDetail.email }}
        </span>
        <span>
            <h4>{{ 'PAGE.DWELLING.DETAIL.RESIDENT.PHONE_NUMBER' | translate }}</h4>
            {{ userDetail.main_phone.phone_number }}
        </span>
    </div>
    <button
        *ngIf="canLoad && textOwnerButton"
        mat-raised-button
        color="primary"
        matTooltip="{{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_OWNER.TOOLTIP' | translate }}"
        (click)="goToChangeOwner()"
    >
        <div>
            <mat-icon>hail</mat-icon>
            {{ textOwnerButton | translate }}
        </div>
    </button>
    <button
        *ngIf="canLoad && textResidentButton"
        mat-raised-button
        color="primary"
        matTooltip="{{ 'PAGE.DWELLING.DETAIL.MANAGEMENT.BUTTON.CHANGE_RESIDENT.TOOLTIP' | translate }}"
        (click)="goToChangeResident()"
    >
        <div>
            <mat-icon>escalator_warning</mat-icon>
            {{ textResidentButton | translate }}
        </div>
    </button>
    <ng-template #noUser>
        <div class="no-user">
            <h2>
                <mat-icon>{{ title.icon }}</mat-icon>
                {{ textNoResidentButton | translate }}
            </h2>
        </div>
    </ng-template>
</div>
